In [1]:
# For data processing
import numpy as np
from math import sqrt
# For data processing and manipulation
import pandas as pd
import csv
 
# For date calculations
import datetime
import time
 
# For ploting data
import IPython
import IPython.display
 
import itertools
from itertools import cycle
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
 
# For checking path
import os , gc
from os import path
import csv
import json
import requests

In [2]:
from pymongo import MongoClient
import time
# pprint library is used to make the output look more pretty
'''
Should move db code to other file
'''
# connect to MongoDB, change the << MONGODB URL >> to reflect your own connection string
client = MongoClient(port=27017)
db = client.test
print(db.list_collection_names())

['crime.chicago', 'crime.philadelphia', 'weather.chicago', 'crime.sf', 'weather.philadelphia', 'weather.sf']

In [19]:
#ROOTPATH = '/Users/nuhash/Desktop/Code/Thesis/'
#PATH_IMAGE = ROOTPATH+'images_chicago/'
#PATH_DA = ROOTPATH+"dataset/chicago_data_for_da.csv"
#PATH_PDA = ROOTPATH+"dataset/chicago_data_chicago_for_police_da.csv"

In [22]:
# requestData = {
#  'Primary Type': 'CRIMINAL DAMAGE',
#  'Location Description': 'RESIDENCE',
#  'Arrest': False}
# #requestData = json.dump(requestData)

# urlTest = DATABASE_URL + "query/find/chicago/crime"
# #x = requests.get(urlTest, json=requestData)
# #print(len(x.json()))
# response = requests.get(urlTest, json=requestData)

# if response.ok:
#     try:
#         data = response.json()
#         print(len(data))
#     except json.JSONDecodeError as e:
#         print("Error decoding JSON response:", e)
# else:
#     print("Error:", response.status_code)

requestData = {
 'Primary Type': 'CRIMINAL DAMAGE',
 'Location Description': 'RESIDENCE',
 'Arrest': False}
#requestData = json.dump(requestData)
res = db.crime.chicago.find(requestData)

#do something with res
print(res)

<pymongo.cursor.Cursor object at 0x10c0b6c50>

<h3><b> Columns </h3></b>

In [10]:
# Record the start time
start_time = time.time()

# Get a single document from the collection
sample_document = db.crime.chicago.find_one()

# Extract field names from the document
field_names = list(sample_document.keys())

print("Field Names:", field_names)
print("Number of Fields:", len(field_names))

# Record the end time
end_time = time.time()
execution_time = end_time - start_time
print("Execution Time: {:.4f} seconds".format(execution_time))

Field Names: ['_id', 'ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type', 'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat', 'District', 'Ward', 'Community Area', 'FBI Code', 'Year', 'Updated On']
Number of Fields: 18
Execution Time: 0.0038 seconds

In [13]:
del sample_document

<h4><b> YEARS </h4></b>
```py 
# Finding number of unique years "
num_year = dataset_df['Year'].nunique()
print("Num Year :" , num_year)
```

In [26]:
# Record the start time
start_time = time.time()

requestData = {
 'field': 'Year'}

# urlTest = DATABASE_URL + "/query/unique/chicago/crime"
# x = requests.get(urlTest, json=requestData)
# num_year = x.json()
# print("Num Year :" , len(num_year))

num_year = db.crime.chicago.distinct(requestData['field'])
#num_year = db.crime.chicago.distinct('Year')

print(num_year)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time
print("Execution Time: {:.2f} seconds".format(execution_time))

[2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
Execution Time: 4.72 seconds

<h3><b> Primary Types </h3></b>
```py 
#Finding uniuqe classes"
classes = dataset_df['Category'].drop_duplicates().sort_values(ascending = True).values
print("Unique classes = \n",classes)

num_classes = classes.shape[0]
print("Number of cateories = ",num_classes)
```

In [27]:
# Record the start time
start_time = time.time()


requestData = {
 'field': 'Primary Type'}

# urlTest = DATABASE_URL + "/query/unique/chicago/crime"
# x = requests.get(urlTest, json=requestData)
# classes = x.json()
# print("Unique classes = \n",classes)
# print("Number of cateories = ",len(classes))

classes = db.crime.chicago.distinct(requestData['field'])
print(classes)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time
print("Execution Time: {:.2f} seconds".format(execution_time))

['ARSON', 'ASSAULT', 'BATTERY', 'BURGLARY', 'CONCEALED CARRY LICENSE VIOLATION', 'CRIM SEXUAL ASSAULT', 'CRIMINAL DAMAGE', 'CRIMINAL SEXUAL ASSAULT', 'CRIMINAL TRESPASS', 'DECEPTIVE PRACTICE', 'DOMESTIC VIOLENCE', 'GAMBLING', 'HOMICIDE', 'HUMAN TRAFFICKING', 'INTERFERENCE WITH PUBLIC OFFICER', 'INTIMIDATION', 'KIDNAPPING', 'LIQUOR LAW VIOLATION', 'MOTOR VEHICLE THEFT', 'NARCOTICS', 'NON - CRIMINAL', 'NON-CRIMINAL', 'NON-CRIMINAL (SUBJECT SPECIFIED)', 'OBSCENITY', 'OFFENSE INVOLVING CHILDREN', 'OTHER NARCOTIC VIOLATION', 'OTHER OFFENSE', 'PROSTITUTION', 'PUBLIC INDECENCY', 'PUBLIC PEACE VIOLATION', 'RITUALISM', 'ROBBERY', 'SEX OFFENSE', 'STALKING', 'THEFT', 'WEAPONS VIOLATION']
Execution Time: 3.44 seconds

In [ ]:
del classes

<h3><b> Districts </h3></b>
```py
# Finding unique police department district name 
Police_dept_name = dataset_df['PdDistrict'].drop_duplicates()
# Number of police department
num_police_dept = len(Police_dept_name)
print("Number of Police Department = ",num_police_dept)
print("Police Departments Name -> \n",Police_dept_name)
```

In [28]:
# Record the start time
start_time = time.time()

requestData = {
 'field': 'District'}

# urlTest = DATABASE_URL + "/query/unique/chicago/crime"
# x = requests.get(urlTest, json=requestData)
# Police_dept_name = x.json()
# num_police_dept = len(Police_dept_name)
# print("Number of Police Department = ",num_police_dept)
# print("Police Departments Name -> \n",Police_dept_name)

Police_dept_name = db.crime.chicago.distinct(requestData['field'])
num_police_dept = len(Police_dept_name)
print("Number of Police Department = ",num_police_dept)
print("Police Departments Name -> \n",Police_dept_name)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time
print("Execution Time: {:.2f} seconds".format(execution_time))

Number of Police Department =  24
Police Departments Name ->
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 31]
Execution Time: 4.22 seconds

In [29]:
del Police_dept_name

<h1><b> Per District Crime Without Pipeline </h1></b>

In [21]:
# crime per district without using pipeline
pdXCount = {}
for police_dept_now in Police_dept_name:
    requestData = {
     'District': police_dept_now}
    # urlTest = DATABASE_URL + "/query/find/chicago/crime"
    # x = requests.get(urlTest, json=requestData)
    data = db.crime.chicago.find(requestData)
    #print( police_dept_now , " : " , len(data))
    #pdXCount[police_dept_now] = len(data)
    print(data)
  
"""df = pd.DataFrame.from_dict(pdXCount, orient='index')
print(df.describe())
df.plot(kind='bar', title='Number of Crime in each Police Department', figsize=(15, 10), legend=False, fontsize=12)
plt.xlabel('Police Department', fontsize=12)
plt.ylabel('Number of Crime', fontsize=12)
plt.show()"""

NameError: name 'Police_dept_name' is not defined

In [ ]:
del data

<h1><b> Per District Crime With Pipeline With Previous Query</h1></b>

In [ ]:
# crime per district using pipeline
disXCount = {}
for dis_now in Police_dept_name:
    requestData = {
        'District': dis_now}
    # urlTest = DATABASE_URL + "/query/aggregate/chicago/crime"
    pipeline = [
        {
            "$match": {
                "District": dis_now
            }
        },
        {
            "$group": {
                "_id": "$Primary Type",
                "count": {
                    "$sum": 1
                }
            }
        },
        {
            "$sort": {
                "District": 1
            }
        },
    ]
    # x = requests.get(urlTest, json=pipeline)
    data = db.crime.chicago.aggregate(pipeline)
    # sum each crime category
    tsum = sum([x['count'] for x in data])
    print( dis_now , " : " , tsum)
    disXCount[dis_now] = tsum


"""df = pd.DataFrame.from_dict(disXCount, orient='index')
print(df.describe())
df.plot(kind='bar', title='Number of Crime in each District',
        figsize=(15, 10), legend=False, fontsize=12)
plt.xlabel('District', fontsize=12)
plt.ylabel('Number of Crime', fontsize=12)
plt.show()"""

0  :  47
1  :  319772
2  :  373452
3  :  399509
4  :  447255
5  :  348740
6  :  460688
7  :  454318
8  :  529054
9  :  384567
10  :  339447
11  :  504963
12  :  391118
14  :  304514
15  :  336767
16  :  263957
17  :  227327
18  :  353907
19  :  354358
20  :  139541
21  :  4
22  :  258071
24  :  238343
25  :  447834
31  :  247

"df = pd.DataFrame.from_dict(disXCount, orient='index')\nprint(df.describe())\ndf.plot(kind='bar', title='Number of Crime in each District',\n        figsize=(15, 10), legend=False, fontsize=12)\nplt.xlabel('District', fontsize=12)\nplt.ylabel('Number of Crime', fontsize=12)\nplt.show()"

In [ ]:
del data

<h1><b> Per District Crime With Pipeline Without Using Previous Query </b></h1>

In [33]:

# Record the start time
start_time = time.time()
tsum = 0
#crime per type
disXCount = {}
# urlTest = DATABASE_URL + "/query/aggregate/chicago/crime"
pipeline = [
    {
        "$group": {
                "_id": "$District",
                "Case Number per District" : {"$sum" : 1}
        }
    },
    {
        "$sort": {
            "_id": 1
        }
    }
]
# x = requests.get(urlTest, json=pipeline)
# Run the aggregation query
data_cursor = db.crime.chicago.aggregate(pipeline)

# Convert the cursor to a list
data = list(data_cursor)

# Calculate total sum
tsum = sum(doc['Case Number per District'] for doc in data)

# Initialize counts
disXCount = {}
c = 0

# Process each document
for doc in data:
    print(doc['_id'], " : ", doc['Case Number per District'])
    disXCount[doc['_id']] = doc['Case Number per District']
    c += 1

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Print results
print("Total Unique District =", c)
print("Total Cases =", tsum)
print("Execution Time: {:.2f} seconds".format(execution_time))

None  :  47
1  :  325610
2  :  378792
3  :  404794
4  :  453301
5  :  353063
6  :  467029
7  :  458529
8  :  536204
9  :  389446
10  :  343917
11  :  510925
12  :  397705
14  :  308476
15  :  340081
16  :  267885
17  :  230638
18  :  359456
19  :  360050
20  :  141891
21  :  4
22  :  261241
24  :  242401
25  :  453736
31  :  251
Total Unique District = 25
Total Cases = 7985472
Execution Time: 3.69 seconds

In [24]:
del data

<h2><b> Per Type Crime Without using Pipeline </h2></b>

In [ ]:
#per type crime using previous query
crimecatXCount = {}
for crimecat_now in classes:
    requestData = {
     'Primary Type': crimecat_now}
    # urlTest = DATABASE_URL + "/query/find/chicago/crime"
    # x = requests.get(urlTest, json=requestData)
    data = db.crime.chicago.find(requestData)
    print( crimecat_now , " : " , len(data))
    crimecatXCount[crimecat_now] = len(data)

"""df = pd.DataFrame.from_dict(crimecatXCount, orient='index')
print(df.describe())
df.plot(kind='bar', title='Number of Crime in each Crime Category', figsize=(15, 10), legend=False, fontsize=12)
plt.xlabel('Crime Category', fontsize=12)
plt.ylabel('Number of Crime', fontsize=12)
plt.show()

# percentage pie plot of crime category
df.plot(kind='pie', title='Percentage of Crime in each Crime Category', figsize=(15, 10), legend=False, fontsize=12, subplots=True)
plt.xlabel('Crime Category', fontsize=12)
plt.ylabel('Number of Crime', fontsize=12)
plt.show()"""

TypeError: object of type 'Cursor' has no len()

In [ ]:
del data

<h2><b> 3.2.1 Per Type Crime using Pipeline </h2></b>

In [5]:
# Record the start time
start_time = time.time()

#crime per type
typeXCount = {}
# urlTest = DATABASE_URL + "/query/aggregate/chicago/crime"
pipeline = [
    {
        "$group": {
                "_id": "$Primary Type",
                "Case Number per Type" : {"$sum" : 1}
        }
    }
]
# x = requests.get(urlTest, json=pipeline)
data = db.crime.chicago.aggregate(pipeline)
#tsum = sum([x['Case Number per Type'] for x in data])
c = 0
for doc in data:
    #print(doc)
    print( doc['_id'] , " : " , doc['Case Number per Type'])
    typeXCount[doc['_id']] = doc['Case Number per Type']
    c = c + 1

# Record the end time
end_time = time.time()
execution_time = end_time - start_time



print("Total Unique Type = " , c)
#print("Total Cases = " , tsum)
print("Execution Time: {:.2f} seconds".format(execution_time))

OBSCENITY  :  843
PUBLIC PEACE VIOLATION  :  52974
CRIMINAL TRESPASS  :  217788
INTERFERENCE WITH PUBLIC OFFICER  :  18821
DOMESTIC VIOLENCE  :  1
BURGLARY  :  430008
OTHER NARCOTIC VIOLATION  :  149
STALKING  :  5192
CRIMINAL DAMAGE  :  910224
LIQUOR LAW VIOLATION  :  15035
ASSAULT  :  524687
GAMBLING  :  14631
CRIM SEXUAL ASSAULT  :  27537
ROBBERY  :  301136
OTHER OFFENSE  :  495544
PROSTITUTION  :  69965
KIDNAPPING  :  7328
BATTERY  :  1456937
CRIMINAL SEXUAL ASSAULT  :  8103
DECEPTIVE PRACTICE  :  358343
SEX OFFENSE  :  31839
PUBLIC INDECENCY  :  199
CONCEALED CARRY LICENSE VIOLATION  :  1231
NON-CRIMINAL  :  184
MOTOR VEHICLE THEFT  :  396767
INTIMIDATION  :  4837
OFFENSE INVOLVING CHILDREN  :  57186
NON-CRIMINAL (SUBJECT SPECIFIED)  :  9
ARSON  :  13653
WEAPONS VIOLATION  :  112891
HUMAN TRAFFICKING  :  105
RITUALISM  :  24
THEFT  :  1686542
HOMICIDE  :  13040
NARCOTICS  :  751681
NON - CRIMINAL  :  38
Total Unique Type =  36
Execution Time: 2.85 seconds

In [ ]:
del data

<h2><b> Per Year Crime Without using Pipeline </h2></b>

In [ ]:
# crime per year without using pipeline with previous query
yearXCount = {}
for year_now in num_year:
    requestData = {
     'Year': year_now}
    # urlTest = DATABASE_URL + "/query/find/chicago/crime"
    # x = requests.get(urlTest, json=requestData)
    data = db.crime.chicago.find(requestData)
    print( year_now , " : " , len(data))
    yearXCount[year_now] = len(data)

"""df = pd.DataFrame.from_dict(yearXCount, orient='index')
print(df.describe())
df.plot(kind='bar', title='Number of Crime in each Year', figsize=(15, 10), legend=False, fontsize=12)
plt.xlabel('Year', fontsize=12)
plt.ylabel('Number of Crime', fontsize=12)
plt.show()"""

NameError: name 'num_year' is not defined

In [ ]:
del data

<h2><b> Per Year Crime using Pipeline with Previous Query </h2></b>

In [ ]:
# crime per year with previous query using pipeline
yearXCount = {}
for year_now in num_year:
    requestData = {
        'Year': year_now}
    # urlTest = DATABASE_URL + "/query/aggregate/chicago/crime"
    pipeline = [
        {
            "$match": {
                "Year": year_now
            }
        },
        {
            "$group": {
                "_id": "$Primary Type",
                "count": {
                    "$sum": 1
                }
            }
        },
        {
            "$sort": {
                "Year": 1
            }
        },
    ]
    # x = requests.get(urlTest, json=pipeline)
    data = db.crime.chicago.aggregate(pipeline)
    # sum each crime category
    tsum = sum([x['count'] for x in data])
    print( year_now , " : " , tsum)
    yearXCount[year_now] = tsum

"""
df = pd.DataFrame.from_dict(yearXCount, orient='index')
print(df.describe())
df.plot(kind='bar', title='Number of Crime in each Year',
        figsize=(15, 10), legend=False, fontsize=12)
plt.xlabel('Year', fontsize=12)
plt.ylabel('Number of Crime', fontsize=12)
plt.show()
"""

2001  :  485886
2002  :  486807
2003  :  475985
2004  :  469422
2005  :  453773
2006  :  448179

KeyboardInterrupt:

In [ ]:
del data

<h1><b> Per Year Crime With Pipeline Without Using Previous Query </b></h1>

In [40]:
"""# crime per year without previous query
yearXCount = {}
urlTest = DATABASE_URL + "/query/aggregate/chicago/crime"
pipeline = [
    {
        "$group": {
            "_id": {
                "Year": "$Year",
                "_id": "$Primary Type"
            },
           
            "count": {
                "$sum": 1
            }
        }
    },
    {
        "$sort": {
            "_id.Year": 1
        }
    }

]
x = requests.get(urlTest, json=pipeline)
data = x.json()
# sum each crime category
tsum = sum([x['count'] for x in data])
print( year_now , " : " , tsum)
yearXCount[year_now] = tsum
"""

# Record the start time
start_time = time.time()

#crime per type
yearXCount = {}
# urlTest = DATABASE_URL + "/query/aggregate/chicago/crime"
pipeline = [
    {
        "$group": {
                "_id": "$Year",
                "Case Number per Year" : {"$sum" : 1}
        }
    },
    {
        "$sort": {
            "_id": 1
        }
    }
]
# Run the aggregation query
data_cursor = db.crime.chicago.aggregate(pipeline)

# Convert the cursor to a list
data = list(data_cursor)

# Calculate total sum
tsum = sum(doc['Case Number per Year'] for doc in data)

# Initialize counts
yearXCount = {}
c = 0

# Process each document
for doc in data:
    print(doc['_id'], " : ", doc['Case Number per Year'])
    yearXCount[doc['_id']] = doc['Case Number per Year']
    c += 1

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Print results
print("Total Unique Years =", c)
print("Total Cases =", tsum)
print("Execution Time: {:.2f} seconds".format(execution_time))

2001  :  485903
2002  :  486813
2003  :  475987
2004  :  469428
2005  :  453776
2006  :  448183
2007  :  437090
2008  :  427193
2009  :  392835
2010  :  370525
2011  :  352006
2012  :  336333
2013  :  307552
2014  :  275811
2015  :  264823
2016  :  269864
2017  :  269138
2018  :  268950
2019  :  261410
2020  :  212303
2021  :  209032
2022  :  239150
2023  :  260476
2024  :  10891
Total Unique Years = 24
Total Cases = 7985472
Execution Time: 4.10 seconds

In [ ]:
del data

In [ ]:
"""data = x.json()
print(data)
# save data in json file
with open('chicago_crime_category_count.json', 'w') as outfile:
    json.dump(data, outfile)
    
    # sum each crime category

yearXCount = {}"""

"data = x.json()\nprint(data)\n# save data in json file\nwith open('chicago_crime_category_count.json', 'w') as outfile:\n    json.dump(data, outfile)\n    \n    # sum each crime category\n\nyearXCount = {}"

<h2><b> Per Month Crime Withot using Pipeline</h2></b>

In [ ]:
# crime per month without using pipeline

# Record the start time
start_time = time.time()

monthXCount = {}
for month_now in range(1,13):
    requestData = {
     'Month': month_now}
    # urlTest = DATABASE_URL + "/query/find/chicago/crime"
    # x = requests.get(urlTest, json=requestData)
    data = db.crime.chicago.find(requestData)
    print( month_now , " : " , len(data))
    monthXCount[month_now] = len(data)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time
print("Execution Time: {:.2f} seconds".format(execution_time))
        
        
"""
df = pd.DataFrame.from_dict(monthXCount, orient='index')
print(df.describe())
df.plot(kind='bar', title='Number of Crime in each Month', figsize=(15, 10), legend=False, fontsize=12)
plt.xlabel('Month', fontsize=12)
plt.ylabel('Number of Crime', fontsize=12)
plt.show()
"""

TypeError: object of type 'Cursor' has no len()

In [ ]:
del data

<h2><b>  working Per Month Crime using Pipeline</h2></b>

In [41]:
#per month crime using pipeline

# Record the start time
start_time = time.time()

#crime per type
monthXCount = {}
# urlTest = DATABASE_URL + "/query/aggregate/chicago/crime"
pipeline = [
    {
        "$addFields": {
            "dateComponents": {
                "$split": [
                    {"$arrayElemAt": [{"$split": ["$Date", " "]}, 0]}, "/"
                ]
            }
        }
    },
    {
        "$addFields": {
            "date": {
                "$dateFromParts": {
                    "year": {"$toInt": {"$arrayElemAt": ["$dateComponents", 2]}} ,
                    "month": {"$toInt": {"$arrayElemAt": ["$dateComponents", 0]}},
                }
            }
        }
    },
    {
        "$group": {
            "_id": {"month": {"$month": "$date"}},
            "total_cases": {"$sum": 1},
        }
    },
    {
        "$project": {
            "_id": 0,
            "month": "$_id.month",
            "total_cases": 1,
        }
    }
]
# x = requests.get(urlTest, json=pipeline)

data = db.crime.chicago.aggregate(pipeline)
#tsum = sum([x['average_cases_per_month'] for x in data])
c = 0
for doc in data:
    print(doc)
    c = c + 1

# Record the end time
end_time = time.time()
execution_time = end_time - start_time


print("Total months = " , c)
print("Execution Time: {:.2f} seconds".format(execution_time))

{'total_cases': 630098, 'month': 11}
{'total_cases': 741173, 'month': 7}
{'total_cases': 547815, 'month': 2}
{'total_cases': 650438, 'month': 3}
{'total_cases': 647913, 'month': 4}
{'total_cases': 704376, 'month': 6}
{'total_cases': 734542, 'month': 8}
{'total_cases': 633392, 'month': 1}
{'total_cases': 705117, 'month': 5}
{'total_cases': 690776, 'month': 9}
{'total_cases': 699171, 'month': 10}
{'total_cases': 600661, 'month': 12}
Total months =  12
Execution Time: 15.53 seconds

In [ ]:
del data

In [ ]:
'''
# per discrict, per year crime count
for police_dept_now in Police_dept_name:
    yearXCount = {}
    for year_now in num_year:
        requestData = {
         'year': year_now,
         'district': police_dept_now}
        urlTest = DATABASE_URL + "/query/find/chicago/crime"
        x = requests.get(urlTest, json=requestData)
        data = x.json()
        # print( year_now , " : " , len(data))
        yearXCount[year_now] = len(data)
    df = pd.DataFrame.from_dict(yearXCount, orient='index')
    print(df.describe())
    df.plot(kind='bar', title='Number of Crime in each Year in Police Department '+str(police_dept_now), figsize=(15, 10), legend=False, fontsize=12)
    plt.xlabel('Year', fontsize=12)
    plt.ylabel('Number of Crime', fontsize=12)
    plt.show()
'''

'\n# per discrict, per year crime count\nfor police_dept_now in Police_dept_name:\n    yearXCount = {}\n    for year_now in num_year:\n        requestData = {\n         \'year\': year_now,\n         \'district\': police_dept_now}\n        urlTest = DATABASE_URL + "/query/find/chicago/crime"\n        x = requests.get(urlTest, json=requestData)\n        data = x.json()\n        # print( year_now , " : " , len(data))\n        yearXCount[year_now] = len(data)\n    df = pd.DataFrame.from_dict(yearXCount, orient=\'index\')\n    print(df.describe())\n    df.plot(kind=\'bar\', title=\'Number of Crime in each Year in Police Department \'+str(police_dept_now), figsize=(15, 10), legend=False, fontsize=12)\n    plt.xlabel(\'Year\', fontsize=12)\n    plt.ylabel(\'Number of Crime\', fontsize=12)\n    plt.show()\n'

In [ ]:
# per discrict, per month crime count
for police_dept_now in Police_dept_name:
    monthXCount = {}
    for month_now in range(1,13):
        requestData = {
         'month': month_now,
         'district': police_dept_now}
        # urlTest = DATABASE_URL + "/query/find/chicago/crime"
        # x = requests.get(urlTest, json=requestData)
        data = db.crime.chicago.find(requestData)
        print( year_now , " : " , len(data))
        monthXCount[month_now] = len(data)
"""    
    df = pd.DataFrame.from_dict(monthXCount, orient='index')
    print(df.describe())
    df.plot(kind='bar', title='Number of Crime in each Year in Police Department '+str(police_dept_now), figsize=(15, 10), legend=False, fontsize=12)
    plt.xlabel('Month', fontsize=12)
    plt.ylabel('Number of Crime', fontsize=12)
    plt.show()"""

NameError: name 'year_now' is not defined

In [ ]:
del data

<h1><b>Unique Primary Types without Pipeline</h1></b>

In [ ]:
# Record the start time
start_time = time.time()

requestData = {
    'field' : 'Primary Type'}
# urlTest = DATABASE_URL + "/query/unique/chicago/crime"
# x = requests.get(urlTest, json=requestData)
primary_types = db.crime.chicago.distinct(requestData['field'])
print("Unique Primary Types = \n",primary_types)
print("Number of Primary Types = ",len(primary_types))

# Record the end time
end_time = time.time()
execution_time = end_time - start_time
print("Execution Time: {:.2f} seconds".format(execution_time))

Unique Primary Types =
 ['ARSON', 'ASSAULT', 'BATTERY', 'BURGLARY', 'CONCEALED CARRY LICENSE VIOLATION', 'CRIM SEXUAL ASSAULT', 'CRIMINAL DAMAGE', 'CRIMINAL SEXUAL ASSAULT', 'CRIMINAL TRESPASS', 'DECEPTIVE PRACTICE', 'DOMESTIC VIOLENCE', 'GAMBLING', 'HOMICIDE', 'HUMAN TRAFFICKING', 'INTERFERENCE WITH PUBLIC OFFICER', 'INTIMIDATION', 'KIDNAPPING', 'LIQUOR LAW VIOLATION', 'MOTOR VEHICLE THEFT', 'NARCOTICS', 'NON - CRIMINAL', 'NON-CRIMINAL', 'NON-CRIMINAL (SUBJECT SPECIFIED)', 'OBSCENITY', 'OFFENSE INVOLVING CHILDREN', 'OTHER NARCOTIC VIOLATION', 'OTHER OFFENSE', 'PROSTITUTION', 'PUBLIC INDECENCY', 'PUBLIC PEACE VIOLATION', 'RITUALISM', 'ROBBERY', 'SEX OFFENSE', 'STALKING', 'THEFT', 'WEAPONS VIOLATION']
Number of Primary Types =  36
Execution Time: 9.01 seconds

In [ ]:
del data

<h1><b>Unique Primary Types and their amount/number using aggregate</h1></b>

In [46]:
# Record the start time
start_time = time.time()

#crime per type
typeXCount = {}
#for type_now in primary_types:
    #requestData = {
     #'Primary Type': type_now}
# urlTest = DATABASE_URL + "/query/aggregate/chicago/crime"
pipeline = [
    {
        "$group": {
                "_id": "$Primary Type",
                "Case Number per Type" : {"$sum" : 1}
        }
    }
]
# x = requests.get(urlTest, json=pipeline)
data = db.crime.chicago.aggregate(pipeline)
tsum = sum([x['Case Number per Type'] for x in data])
c = 0
for doc in data:
    print(doc)
    typeXCount[doc['_id']] = doc['Case Number per Type']
    c = c + 1

# Record the end time
end_time = time.time()
execution_time = end_time - start_time


print("Total Unique Types = " , c)
print("Total Cases = " , tsum)
print("Execution Time: {:.2f} seconds".format(execution_time))

Total Unique Types =  0
Total Cases =  7985472
Execution Time: 3.25 seconds

In [ ]:
del data

<h1><b>Arrest Statistics:</b></h1>

In [45]:
# Record the start time
start_time = time.time()

#Arrest count
arrestXCount = {}
# urlTest = DATABASE_URL + "/query/aggregate/chicago/crime"
pipeline = [
    {
        "$group": {
                "_id": "$Arrest",
                "True/False" : {"$sum" : 1}
        }
    }
]
# Run the aggregation query
data_cursor = db.crime.chicago.aggregate(pipeline)

# Convert the cursor to a list
data = list(data_cursor)

# Calculate total sum
tsum = sum(doc['True/False'] for doc in data)

# Initialize counts
arrestXCount = {}
c = 0

# Process each document
for doc in data:
    print(doc)
    arrestXCount[doc['_id']] = doc['True/False']
    c += 1

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Print results
print("Total Arrest Types =", c)
print("Total Cases =", tsum)
print("Execution Time: {:.2f} seconds".format(execution_time))

{'_id': False, 'True/False': 5926275}
{'_id': True, 'True/False': 2059197}
Total Arrest Types = 2
Total Cases = 7985472
Execution Time: 3.34 seconds

In [ ]:
del data

<h1><b> Top 10 Locations with the Most Cases: </b></h1>

In [48]:
# Record the start time
start_time = time.time()

#Arrest count
locationXCount = {}
# urlTest = DATABASE_URL + "/query/aggregate/chicago/crime"
pipeline = [
    {
        "$group": {
                "_id": "$Location Description",
                "Number of Cases" : {"$sum" : 1}
        }
    },
    {
        "$sort": {
            "Number of Cases": -1
        }
    },
    {
        "$limit": 10
    }
]
# Run the aggregation query
data_cursor = db.crime.chicago.aggregate(pipeline)

# Convert the cursor to a list
data = list(data_cursor)

# Calculate total sum
tsum = sum(doc['Number of Cases'] for doc in data)

# Initialize counts
locationXCount = {}
c = 0

# Process each document
for doc in data:
    print(doc)
    locationXCount[doc['_id']] = doc['Number of Cases']
    c += 1

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Print results
print("Total Cases in Top 10 Locations =", tsum)
print("Execution Time: {:.2f} seconds".format(execution_time))

{'_id': 'STREET', 'Number of Cases': 2085624}
{'_id': 'RESIDENCE', 'Number of Cases': 1330160}
{'_id': 'APARTMENT', 'Number of Cases': 916473}
{'_id': 'SIDEWALK', 'Number of Cases': 739332}
{'_id': 'OTHER', 'Number of Cases': 270016}
{'_id': 'PARKING LOT/GARAGE(NON.RESID.)', 'Number of Cases': 202969}
{'_id': 'ALLEY', 'Number of Cases': 177618}
{'_id': 'SMALL RETAIL STORE', 'Number of Cases': 152850}
{'_id': 'SCHOOL, PUBLIC, BUILDING', 'Number of Cases': 146375}
{'_id': 'RESIDENCE-GARAGE', 'Number of Cases': 135525}
Total Cases in Top 10 Locations = 6156942
Execution Time: 3.32 seconds

In [ ]:
del data

<h1><b>Average Cases Per Year</b></h1>

In [12]:
# Record the start time
start_time = time.time()

# urlTest = DATABASE_URL + "/query/aggregate/chicago/crime"
pipeline = [
    {
        "$group": {
            "_id": "$Year",
            "total_cases": {"$sum": 1},
        }
    },
    {
        "$group": {
            "_id": None,
            "average_cases_per_year": {"$avg": "$total_cases"},
        }
    }
]
# x = requests.get(urlTest, json=pipeline)
data = db.crime.chicago.aggregate(pipeline)

# Access the results from the response
for doc in data:
    average_cases_per_year = doc["average_cases_per_year"]
    print(f"Average Cases per Year: {average_cases_per_year}")

# Record the end time
end_time = time.time()
execution_time = end_time - start_time
print("Execution Time: {:.2f} seconds".format(execution_time))

Average Cases per Year: 332728.0
Execution Time: 5.53 seconds

In [6]:
del data

<h1><b> Complex Queries <h1><b>

<h3> 3.3.1 Annual Crime Summary by Type </h3>

In [18]:
start_time = time.time()

# MongoDB aggregation pipeline
pipeline = [
    {
        "$group": {
            "_id": {
                "Year": "$Year",
                "PrimaryType": "$Primary Type"
            },
            "total_incidents": {"$sum": 1},
            "total_arrests": {
                "$sum": {
                    "$cond": [{"$eq": ["$Arrest", True]}, 1, 0]
                }
            },
            # Attempt to capture the most common location description
            "common_locations": {
                "$push": "$Location Description"
            }
        }
    },
    {
        "$addFields": {
            "common_location": {
                "$arrayElemAt": ["$common_locations", 0]  # Simplistic approach
            }
        }
    },
    {
        "$project": {
            "total_incidents": 1,
            "total_arrests": 1,
            "common_location": 1
        }
    },
    {
        "$sort": {"_id.Year": 1, "total_incidents": -1}
    }
]

# Execute the aggregation pipeline
data = db.crime.chicago.aggregate(pipeline)

# Collect the results into a list of dictionaries
results = []
for doc in data:
    result = {
        "Year": doc['_id']['Year'],
        "Primary Type": doc['_id']['PrimaryType'],
        "Total Incidents": doc['total_incidents'],
        "Total Arrests": doc['total_arrests'],
        "Common Location": doc.get('common_location')  # Adjust based on your logic to determine the common location
    }
    results.append(result)

# Create a DataFrame from the results
df = pd.DataFrame(results)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Display the DataFrame as a table
display(df)  


print(f"Execution Time: {execution_time:.2f} seconds")
#6.9 seconds

,Year,Primary Type,Total Incidents,Total Arrests,Common Location
0,2001,THEFT,99280,15546,STREET
1,2001,BATTERY,93464,20464,SIDEWALK
2,2001,CRIMINAL DAMAGE,55862,4548,STREET
3,2001,NARCOTICS,50567,50559,STREET
4,2001,ASSAULT,31385,7150,PARK PROPERTY
...,...,...,...,...,...
742,2024,LIQUOR LAW VIOLATION,5,3,RESTAURANT
743,2024,PROSTITUTION,4,4,STREET
744,2024,KIDNAPPING,3,0,APARTMENT
745,2024,HUMAN TRAFFICKING,2,0,APARTMENT
746,2024,OBSCENITY,2,1,RESIDENCE

Execution Time: 9.00 seconds

In [41]:
del df

<h3> 3.3.2 Detailed Analysis of Specific Crime Types </h3>

In [19]:
start_time = time.time()

# MongoDB aggregation pipeline
pipeline = [
    {
        "$match": {
            "Primary Type": {"$in": ["THEFT", "ROBBERY"]}
        }
    },
    {
        "$addFields": {
            "hour": {
                "$hour": {
                    "$dateFromString": {
                        "dateString": "$Date"
                    }
                }
            }
        }
    },
    {
        "$group": {
            "_id": {
                "Primary Type": "$Primary Type",
                "Location Description": "$Location Description"
            },
            "total_arrests": {
                "$sum": {"$cond": [{"$eq": ["$Arrest", True]}, 1, 0]}
            },
            "total_cases": {"$sum": 1},
            "avg_time_of_crime": {"$avg": "$hour"}
        }
    },
    {
        "$project": {
            "_id": 0,
            "Primary Type": "$_id.Primary Type",
            "Location Description": "$_id.Location Description",
            "total_arrests": 1,
            "total_cases": 1,
            "avg_time_of_crime": 1
        }
    },
    {
        "$sort": {"Primary Type": 1, "total_cases": -1}
    }
]
# Execute the aggregation pipeline
data = db.crime.chicago.aggregate(pipeline)

# Collect the results into a list of dictionaries
results = list(data)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Create a DataFrame from the results
df = pd.DataFrame(results)

# Print the DataFrame as a table
display(df)  # Use print(df) if not in a Jupyter notebook

# Print execution time
print(f"Execution Time: {execution_time:.2f} seconds")
#3.5 seconds

,total_arrests,total_cases,avg_time_of_crime,Primary Type,Location Description
0,6443,95000,12.257484,ROBBERY,STREET
1,7364,89002,13.197310,ROBBERY,SIDEWALK
2,1361,20917,13.094612,ROBBERY,ALLEY
3,784,8093,13.652539,ROBBERY,PARKING LOT/GARAGE(NON.RESID.)
4,1309,7634,14.476028,ROBBERY,SMALL RETAIL STORE
...,...,...,...,...,...
266,0,3,10.333333,THEFT,VEHICLE - COMMERCIAL: ENTERTAINMENT / PARTY BUS
267,0,2,15.000000,THEFT,KENNEL
268,0,1,12.000000,THEFT,HORSE STABLE
269,0,1,12.000000,THEFT,FARM
270,0,1,16.000000,THEFT,VEHICLE-COMMERCIAL - TROLLEY BUS

Execution Time: 7.30 seconds

<h3> 3.3.3 Yearly Trends in Specific Crime Descriptions </h3>

In [20]:

start_time = time.time()

# MongoDB aggregation pipeline
pipeline = [
    # Stage 1: Group by Description and Year
    {
        "$group": {
            "_id": {
                "Description": "$Description",
                "Year": "$Year"
            },
            "count": {"$sum": 1},
            "arrest_count": {
                "$sum": {
                    "$cond": [{"$eq": ["$Arrest", True]}, 1, 0]
                }
            }
        }
    },
    # Stage 2: Filter groups with more than 50 records
    {
        "$match": {
            "count": {"$gt": 50}
        }
    },
    # Stage 3: Project to format the output
    {
        "$project": {
            "_id": 0,
            "Description": "$_id.Description",
            "Year": "$_id.Year",
            "count": 1,
            "arrest_count": 1
        }
    },
    # Stage 4: Sort the results by Year and count in descending order
    {
        "$sort": {
            "Year": 1,
            "count": -1
        }
    }
]
# Execute the aggregation pipeline
data = db.crime.chicago.aggregate(pipeline)

# Collect the results into a list of dictionaries
results = list(data)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Create a DataFrame from the results
df = pd.DataFrame(results)

# Print the DataFrame as a table
display(df)  # Use print(df) if not in a Jupyter notebook

# Print execution time
print(f"Execution Time: {execution_time:.2f} seconds")
#5.6 seconds

,count,arrest_count,Description,Year
0,99401,20614,SIMPLE,2001
1,61785,12891,$500 AND UNDER,2001
2,32876,2245,OVER $500,2001
3,28084,1919,TO VEHICLE,2001
4,27932,2960,TO PROPERTY,2001
...,...,...,...,...
3814,83,2,STRONG ARM - NO WEAPON,2024
3815,80,23,VIOLATE ORDER OF PROTECTION,2024
3816,63,10,TO RESIDENCE,2024
3817,54,0,ILLEGAL USE CASH CARD,2024
3818,51,48,MANUFACTURE / DELIVER - CANNABIS OVER 10 GRAMS,2024

Execution Time: 5.77 seconds

<h1><b> addition </b></h1>

<h1><b> subtraction </b></h1>

<h1><b> ranging </b></h1>

<h3> 3.1.1 Few Random arithmetics based on District <h3>

In [11]:
#{"District": {"$gte": 10, "$lte": 20}}, {"ID": 1, "DistrictPlusWard": {"$add": ["$District", "$Ward"]}, "CoordinateDifference": {"$subtract": ["$X Coordinate", "$Y Coordinate"]}, "ArrestFlag": {"$cond": [{"$eq": ["$Arrest", true]}, 1, 0]}, "AreaTimesBeat": {"$multiply": ["$Community Area", "$Beat"]}, "LatMinusLong": {"$subtract": ["$Latitude", "$Longitude"]}, "YearLastDigit": {"$mod": ["$Year", 10]}, "IsAssault": {"$cond": [{"$eq": ["$Primary Type", "ASSAULT"]}, 1, 0]}}
#sort - {"ID": 1}
start_time = time.time()

# MongoDB aggregation pipeline
pipeline = [
    {
        "$match": {
            "District": {"$gte": 10, "$lte": 20}
        }
    },
    {
        "$addFields": {
            "DistrictPlusWard": {"$add": ["$District", "$Ward"]},
            "CoordinateDifference": {"$subtract": ["$X Coordinate", "$Y Coordinate"]},
            "ArrestFlag": {"$toInt": "$Arrest"},
            "AreaTimesBeat": {"$multiply": ["$Community Area", "$Beat"]},
            "LatMinusLong": {"$subtract": [{"$toDouble": "$Latitude"}, {"$toDouble": "$Longitude"}]},
            "YearLastDigit": {"$mod": [{"$toInt": "$Year"}, 10]},
            "IsAssault": {
                "$cond": [{"$eq": ["$Primary Type", "ASSAULT"]}, 1, 0]
            }
        }
    },
    {
        "$project": {
            "_id": 0,
            "ID": 1,
            "DistrictPlusWard": 1,
            "CoordinateDifference": 1,
            "ArrestFlag": 1,
            "AreaTimesBeat": 1,
            "LatMinusLong": 1,
            "YearLastDigit": 1,
            "IsAssault": 1
        }
    },
    {
        "$sort": {"ID": 1}
    }
]


# Execute the aggregation pipeline
data = db.crime.chicago.aggregate(pipeline)

# Collect the results into a list of dictionaries
results = list(data)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Create a DataFrame from the results
df = pd.DataFrame(results)

# Print the DataFrame as a table
display(df)  # Use print(df) if not in a Jupyter notebook

# Print execution time
print(f"Execution Time: {execution_time:.2f} seconds")
# 8.2 seconds

,ID,DistrictPlusWard,CoordinateDifference,ArrestFlag,AreaTimesBeat,LatMinusLong,YearLastDigit,IsAssault
0,634,13.0,-739683.0,0,31500.0,129.568474,1,0
1,635,49.0,-759090.0,0,31108.0,129.624421,1,0
2,636,NaN,-741041.0,1,NaN,129.578888,1,0
3,639,37.0,-725728.0,0,37882.0,129.524641,1,0
4,646,56.0,-782562.0,1,23968.0,129.694290,1,0
...,...,...,...,...,...,...,...,...
3261019,13349393,48.0,NaN,0,29064.0,NaN,3,0
3261020,13349405,39.0,NaN,0,31500.0,NaN,4,0
3261021,13349429,20.0,NaN,0,14592.0,NaN,4,0
3261022,13349666,57.0,NaN,0,125704.0,NaN,3,0
3261023,13349744,56.0,NaN,0,27552.0,NaN,4,0

Execution Time: 21.01 seconds

<h3> 3.1.2 Arithmetic on Numeric Fields <h3>

In [12]:

start_time = time.time()

# MongoDB aggregation pipeline
pipeline = [
    {
        "$addFields": {
            "BeatPlusDistrict": {"$add": ["$Beat", "$District"]},
            "CoordinateDifference": {"$subtract": ["$X Coordinate", "$Y Coordinate"]},
            "AreaTimesBeat": {"$multiply": ["$Community Area", "$Beat"]},
            "BeatPerArea": {
                "$cond": {
                    "if": {"$eq": ["$Community Area", 0]},
                    "then": None,  # or use "$$REMOVE" to remove the field
                    "else": {"$divide": ["$Beat", "$Community Area"]}
                }
            },
            "DistrictMinusWard": {"$subtract": ["$District", "$Ward"]}
        }
    },
    {
        "$project": {
            "_id":0,
            "ID": 1,
            "BeatPlusDistrict": 1,
            "CoordinateDifference": 1,
            "AreaTimesBeat": 1,
            "BeatPerArea": 1,
            "DistrictMinusWard": 1
        }
    }
]
# Execute the aggregation pipeline
data = db.crime.chicago.aggregate(pipeline)

# Collect the results into a list of dictionaries
results = list(data)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Create a DataFrame from the results
df = pd.DataFrame(results)

# Print the DataFrame as a table
display(df)  # Use print(df) if not in a Jupyter notebook

# Print execution time
print(f"Execution Time: {execution_time:.2f} seconds")
#5.8 seconds
#8.1 seconds
"""{
	"_id": 0,
  "ID": 1,
  "BeatPlusDistrict": { "$add": ["$Beat", "$District"] },
  "CoordinateDifference": { "$subtract": ["$X Coordinate", "$Y Coordinate"] },
  "AreaTimesBeat": { "$multiply": ["$Community Area", "$Beat"] },
  "BeatPerArea": {
    "$cond": {
      "if": { "$or": [ { "$eq": [ "$Community Area", 0 ] }, { "$eq": [ "$Community Area", null ] } ] },
      "then": null, // or any other value indicating an invalid operation
      "else": {
        "$divide": [
          "$Beat",
          {
            "$cond": {
              "if": { "$eq": [ "$Community Area", null ] },
              "then": 1, // Assuming 1 as a fallback to avoid division by zero
              "else": "$Community Area"
            }
          }
        ]
      }
    }
  },
  "DistrictMinusWard": { "$subtract": ["$District", "$Ward"] }
}"""

,ID,BeatPlusDistrict,CoordinateDifference,AreaTimesBeat,BeatPerArea,DistrictMinusWard
0,5741943,2446.0,NaN,2422.0,2422.000000,-25.0
1,25953,2540.0,-771792.0,47785.0,132.368421,-11.0
2,26038,1728.0,-788677.0,22243.0,131.615385,-33.0
3,13279676,1941.0,-763388.0,9610.0,384.400000,-28.0
4,13274752,638.0,-664798.0,27808.0,14.363636,0.0
...,...,...,...,...,...,...
7985467,13047495,1226.0,-730115.0,33992.0,43.357143,-30.0
7985468,13168300,640.0,-664446.0,31066.0,12.938776,-3.0
7985469,13114024,1041.0,-732337.0,30930.0,34.366667,-12.0
7985470,13188860,425.0,-655088.0,19366.0,9.152174,-3.0
7985471,13126372,124.0,-723068.0,3936.0,3.843750,-33.0

Execution Time: 27.77 seconds

<h3> 3.1.3 Comparing Numeric Fields <h3>

In [10]:

start_time = time.time()

# MongoDB aggregation pipeline
pipeline = [
  {
    "$addFields": {
      "CoordinateComparison": {
        "$cond": {
          "if": { "$gt": ["$X Coordinate", "$Y Coordinate"] },
          "then": "X greater",
          "else": "Y greater or equal"
        }
      },
      "BeatDistrictEquality": {
        "$cond": {
          "if": { "$eq": ["$Beat", "$District"] },
          "then": "Beat equals District",
          "else": "Beat not equal to District"
        }
      },
      "LatGreaterThanLong": {
        "$cond": {
          "if": { "$gt": ["$Latitude", "$Longitude"] },
          "then": True,
          "else": False
        }
      }
    }
  },
  {
    "$project": {
      "_id": 0,
      "ID": 1,
      "CoordinateComparison": 1,
      "BeatDistrictEquality": 1,
      "LatGreaterThanLong": 1
    }
  }
]
# Execute the aggregation pipeline
data = db.crime.chicago.aggregate(pipeline)

# Collect the results into a list of dictionaries
results = list(data)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Create a DataFrame from the results
df = pd.DataFrame(results)

# Print the DataFrame as a table
display(df)  # Use print(df) if not in a Jupyter notebook

# Print execution time
print(f"Execution Time: {execution_time:.2f} seconds")
# 6.1 seconds

,_id,ID,CoordinateComparison,BeatDistrictEquality,LatGreaterThanLong
0,65b74394cf903dd4f8a31c87,5741943,Y greater or equal,Beat not equal to District,False
1,65b74394cf903dd4f8a31c88,25953,Y greater or equal,Beat not equal to District,True
2,65b74394cf903dd4f8a31c89,26038,Y greater or equal,Beat not equal to District,True
3,65b74394cf903dd4f8a31c8a,13279676,Y greater or equal,Beat not equal to District,True
4,65b74394cf903dd4f8a31c8b,13274752,Y greater or equal,Beat not equal to District,True
...,...,...,...,...,...
7985467,65b74569cf903dd4f81cf5c3,13047495,Y greater or equal,Beat not equal to District,True
7985468,65b74569cf903dd4f81cf5c4,13168300,Y greater or equal,Beat not equal to District,True
7985469,65b74569cf903dd4f81cf5c5,13114024,Y greater or equal,Beat not equal to District,True
7985470,65b74569cf903dd4f81cf5c6,13188860,Y greater or equal,Beat not equal to District,True
7985471,65b74569cf903dd4f81cf5c7,13126372,Y greater or equal,Beat not equal to District,True

Execution Time: 112.57 seconds

<h3> 3.1.4 Filtering and Ordering <h3>

In [16]:
from datetime import datetime
start_time = time.time()

# MongoDB aggregation pipeline
pipeline = [
  {
    "$match": {
      "Domestic": True,
      "Community Area": { "$lt": 10 }
    }
  },
  {
    "$project": {
      "_id": 0,
      "Primary Type": 1,
      "Description": 1,
      "Date": 1,
      "Arrest": 1
    }
  },
  {
    "$sort": { "Date": -1 }
  }
]
# Execute the aggregation pipeline
data = db.crime.chicago.aggregate(pipeline)

# Collect the results into a list of dictionaries
results = list(data)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Create a DataFrame from the results
df = pd.DataFrame(results)

# Print the DataFrame as a table
display(df)  # Use print(df) if not in a Jupyter notebook

# Print execution time
print(f"Execution Time: {execution_time:.2f} seconds")
#3.9 seconds
#2.4 seconds

,Date,Primary Type,Description,Arrest
0,12/31/2023 11:00:00 PM,BATTERY,DOMESTIC BATTERY SIMPLE,True
1,12/31/2023 11:00:00 PM,BATTERY,DOMESTIC BATTERY SIMPLE,False
2,12/31/2023 08:50:00 PM,BATTERY,DOMESTIC BATTERY SIMPLE,False
3,12/31/2023 08:46:00 PM,BATTERY,DOMESTIC BATTERY SIMPLE,False
4,12/31/2023 08:00:00 PM,BATTERY,DOMESTIC BATTERY SIMPLE,True
...,...,...,...,...
83719,01/01/2002 12:01:00 AM,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,False
83720,01/01/2002 12:00:00 AM,OFFENSE INVOLVING CHILDREN,AGG SEX ASSLT OF CHILD FAM MBR,False
83721,01/01/2002 12:00:00 AM,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,False
83722,01/01/2002 09:00:00 PM,ASSAULT,SIMPLE,False
83723,01/01/2001 08:00:00 AM,OFFENSE INVOLVING CHILDREN,SEX ASSLT OF CHILD BY FAM MBR,False

Execution Time: 4.30 seconds

<h3> 3.1.5 Community Area Comparisons <h3>

In [17]:
from datetime import datetime
start_time = time.time()

# MongoDB aggregation pipeline
pipeline = [
  {
    "$project": {
      "_id":0,
      "ID": 1,
      "Community Area": 1,
      "AreaSize": {
        "$switch": {
          "branches": [
            { "case": { "$lt": ["$Community Area", 10] }, "then": "Single digit area" },
            { "case": { "$and": [{ "$gte": ["$Community Area", 10] }, { "$lte": ["$Community Area", 99] }] }, "then": "Double digit area" },
            { "case": { "$gt": ["$Community Area", 99] }, "then": "Triple digit area or unknown" }
          ],
          "default": "Triple digit area or unknown"
        }
      },
      "WasThereAnArrest": "$Arrest"
    }
  }
  
]
# Execute the aggregation pipeline
data = db.crime.chicago.aggregate(pipeline)

# Collect the results into a list of dictionaries
results = list(data)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Create a DataFrame from the results
df = pd.DataFrame(results)

# Print the DataFrame as a table
display(df)  # Use print(df) if not in a Jupyter notebook

# Print execution time
print(f"Execution Time: {execution_time:.2f} seconds")
#9.3 seconds

,_id,ID,Community Area,AreaSize,WasThereAnArrest
0,65b74394cf903dd4f8a31c87,5741943,1.0,Single digit area,False
1,65b74394cf903dd4f8a31c88,25953,19.0,Double digit area,True
2,65b74394cf903dd4f8a31c89,26038,13.0,Double digit area,True
3,65b74394cf903dd4f8a31c8a,13279676,5.0,Single digit area,False
4,65b74394cf903dd4f8a31c8b,13274752,44.0,Double digit area,True
...,...,...,...,...,...
7985467,65b74569cf903dd4f81cf5c3,13047495,28.0,Double digit area,False
7985468,65b74569cf903dd4f81cf5c4,13168300,49.0,Double digit area,False
7985469,65b74569cf903dd4f81cf5c5,13114024,30.0,Double digit area,False
7985470,65b74569cf903dd4f81cf5c6,13188860,46.0,Double digit area,False
7985471,65b74569cf903dd4f81cf5c7,13126372,32.0,Double digit area,False

Execution Time: 48.24 seconds

<h3> 3.1.6 Location Descriptions </h3>

In [1]:
from datetime import datetime
start_time = time.time()

# MongoDB aggregation pipeline
pipeline = [
  {
    "$project": {
      "_id":0,
      "ID": 1,
      "Location Description": 1,
      "LocationType": {
        "$switch": {
          "branches": [
            { "case": { "$regexMatch": { "input": "$Location Description", "regex": "school", "options": "i" } }, "then": "School-related" },
            { "case": { "$regexMatch": { "input": "$Location Description", "regex": "residence", "options": "i" } }, "then": "Residential" }
          ],
          "default": "Other"
        }
      },
      "IsOnStreet": {
        "$cond": {
          "if": { "$regexMatch": { "input": "$Location Description", "regex": "street", "options": "i" } },
          "then": True,
          "else": False
        }
      }
    }
  }
]
# Execute the aggregation pipeline
data = db.crime.chicago.aggregate(pipeline)

# Collect the results into a list of dictionaries
results = list(data)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Create a DataFrame from the results
df = pd.DataFrame(results)

# Print the DataFrame as a table
display(df)  # Use print(df) if not in a Jupyter notebook

# Print execution time
print(f"Execution Time: {execution_time:.2f} seconds")
#14.6 seconds

NameError: name 'time' is not defined

<h3> 3.1.7 Latitude and Longitude Checks </h3>

In [16]:
start_time = time.time()

# MongoDB aggregation pipeline
pipeline = [
  {
    "$project": {
			"_id":0,
      "ID": 1,
      "Latitude": 1,
      "Longitude": 1,
      "Region": {
        "$cond": {
          "if": {
            "$and": [
              { "$gte": ["$Latitude", 41.6] },
              { "$lte": ["$Latitude", 42] }
            ]
          },
          "then": "Northern Chicago",
          "else": "Other"
        }
      },
      "IsSouthOfNorthernChicago": {
        "$cond": {
          "if": { "$lt": ["$Latitude", 41.6] },
          "then": True,
          "else": False
        }
      }
    }
  }
]

# Execute the aggregation pipeline
data = db.crime.chicago.aggregate(pipeline)

# Collect the results into a list of dictionaries
results = list(data)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Create a DataFrame from the results
df = pd.DataFrame(results)

# Print the DataFrame as a table
display(df)  # Use print(df) if not in a Jupyter notebook

# Print execution time
print(f"Execution Time: {execution_time:.2f} seconds")
#9.7 seconds

,ID,Region,IsSouthOfNorthernChicago,Latitude,Longitude
0,5741943,Other,True,NaN,NaN
1,25953,Northern Chicago,False,41.917838,-87.755969
2,26038,Northern Chicago,False,41.995219,-87.713355
3,13279676,Northern Chicago,False,41.952345,-87.677975
4,13274752,Northern Chicago,False,41.737751,-87.604856
...,...,...,...,...,...
7985467,13047495,Northern Chicago,False,41.887589,-87.642827
7985468,13168300,Northern Chicago,False,41.721698,-87.625345
7985469,13114024,Northern Chicago,False,41.836324,-87.720674
7985470,13188860,Northern Chicago,False,41.752631,-87.548737
7985471,13126372,Northern Chicago,False,41.875155,-87.633649

Execution Time: 15.62 seconds

<h1> 3.2.2 SUM </h1>

In [14]:
start_time = time.time()

# MongoDB aggregation pipeline
pipeline = [{
  "$group": {
    "_id": None,
    "theft_count": { "$sum": { "$cond": [{ "$eq": ["$Primary Type", "THEFT"] }, 1, 0] } },
    "robbery_count": { "$sum": { "$cond": [{ "$eq": ["$Primary Type", "ROBBERY"] }, 1, 0] } },
    "assault_count": { "$sum": { "$cond": [{ "$eq": ["$Primary Type", "ASSAULT"] }, 1, 0] } },
    "battery_count": { "$sum": { "$cond": [{ "$eq": ["$Primary Type", "BATTERY"] }, 1, 0] } },
    "criminal_damage_count": { "$sum": { "$cond": [{ "$eq": ["$Primary Type", "CRIMINAL DAMAGE"] }, 1, 0] } }
  }
}
]

# Execute the aggregation pipeline
data = db.crime.chicago.aggregate(pipeline)

# Collect the results into a list of dictionaries
results = list(data)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Create a DataFrame from the results
df = pd.DataFrame(results)

# Print the DataFrame as a table
display(df)  # Use print(df) if not in a Jupyter notebook

# Print execution time
print(f"Execution Time: {execution_time:.2f} seconds")
#5.7 seconds

,_id,theft_count,robbery_count,assault_count,battery_count,criminal_damage_count
0,None,1686542,301136,524687,1456937,910224

Execution Time: 5.73 seconds

<h1> 3.2.3 MIN </h1>

In [ ]:
start_time = time.time()

# MongoDB aggregation pipeline
pipeline = [
  {
    "$group": {
      "_id": None,
      "min_year": { "$min": "$Year" },
      "min_x_coordinate": { "$min": "$X Coordinate" },
      "min_y_coordinate": { "$min": "$Y Coordinate" },
      "earliest_crime_date": { "$min": "$Date" },
      "min_latitude": { "$min": "$Latitude" },
      "min_longitude": { "$min": "$Longitude" }
    }
  }
]


# Execute the aggregation pipeline
data = db.crime.chicago.aggregate(pipeline)

# Collect the results into a list of dictionaries
results = list(data)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Create a DataFrame from the results
df = pd.DataFrame(results)

# Print the DataFrame as a table
display(df)  # Use print(df) if not in a Jupyter notebook

# Print execution time
print(f"Execution Time: {execution_time:.2f} seconds")
#7.8 seconds

<h1> 3.2.4 MAX </h1>

In [15]:
start_time = time.time()

# MongoDB aggregation pipeline
pipeline = [
  {
    "$group": {
      "_id": None, # Grouping without a specific field to aggregate over the whole collection
      "max_year": { "$max": "$Year" },
      "max_x_coordinate": { "$max": "$X Coordinate" },
      "max_y_coordinate": { "$max": "$Y Coordinate" },
      "latest_crime_date": { "$max": "$Date" }
    }
  }
]


# Execute the aggregation pipeline
data = db.crime.chicago.aggregate(pipeline)

# Collect the results into a list of dictionaries
results = list(data)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Create a DataFrame from the results
df = pd.DataFrame(results)

# Print the DataFrame as a table
display(df)  # Use print(df) if not in a Jupyter notebook

# Print execution time
print(f"Execution Time: {execution_time:.2f} seconds")
#7.8 seconds

,_id,max_year,max_x_coordinate,max_y_coordinate,latest_crime_date,max_latitude,max_longitude
0,None,2024,1205119.0,1951622.0,2024-01-20 00:00:00,42.02291,-87.524529

Execution Time: 8.85 seconds

<h1> 3.2.5 AVG </h1>

In [17]:
start_time = time.time()

# MongoDB aggregation pipeline
pipeline = [
  {
    "$group": {
      "_id": "$District",
      "Average_Year": { "$avg": "$Year" },
      "Avg_X_Coordinate": { "$avg": "$X Coordinate" },
      "Avg_Y_Coordinate": { "$avg": "$Y Coordinate" },
      "Avg_Latitude": { "$avg": "$Latitude" },
      "Avg_Longitude": { "$avg": "$Longitude" }
    }
  },
  {
    "$project": {
      "_id": 0,
      "District": "$_id",
      "Average_Year": 1,
      "Avg_X_Coordinate": 1,
      "Avg_Y_Coordinate": 1,
      "Avg_Latitude": 1,
      "Avg_Longitude": 1
    }
  },
  {
    "$sort": {
      "District": 1
    }
  }
]

# Execute the aggregation pipeline
data = db.crime.chicago.aggregate(pipeline)

# Collect the results into a list of dictionaries
results = list(data)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Create a DataFrame from the results
df = pd.DataFrame(results)

# Print the DataFrame as a table
display(df)  # Use print(df) if not in a Jupyter notebook

# Print execution time
print(f"Execution Time: {execution_time:.2f} seconds")

,Average_Year,Avg_X_Coordinate,Avg_Y_Coordinate,Avg_Latitude,Avg_Longitude,District
0,2007.872340,1.162202e+06,1.892747e+06,41.861344,-87.680104,NaN
1,2011.270928,1.176132e+06,1.896792e+06,41.872156,-87.628802,1.0
2,2009.735396,1.180759e+06,1.874354e+06,41.810480,-87.612513,2.0
3,2010.193474,1.185223e+06,1.860104e+06,41.771273,-87.596588,3.0
4,2010.384530,1.194314e+06,1.846589e+06,41.733968,-87.563705,4.0
5,2010.292645,1.178367e+06,1.829504e+06,41.687462,-87.622641,5.0
6,2010.614758,1.175543e+06,1.850637e+06,41.745516,-87.632349,6.0
7,2009.876457,1.169657e+06,1.861595e+06,41.775718,-87.653603,7.0
8,2010.089971,1.152695e+06,1.862407e+06,41.778291,-87.715751,8.0
9,2009.907335,1.166441e+06,1.876031e+06,41.815400,-87.664978,9.0
10,2010.526476,1.153345e+06,1.889843e+06,41.853572,-87.712652,10.0
11,2010.477769,1.151492e+06,1.900329e+06,41.882384,-87.719178,11.0
12,2010.381521,1.164454e+06,1.899701e+06,41.880392,-87.671594,12.0
13,2009.738758,1.158481e+06,1.912797e+06,41.916452,-87.693155,14.0
14,2009.961145,1.140853e+06,1.901648e+06,41.886205,-87.758216,15.0
15,2010.495896,1.130031e+06,1.930316e+06,41.965055,-87.797293,16.0
16,2010.213200,1.150866e+06,1.928732e+06,41.960333,-87.720727,17.0
17,2010.688229,1.174269e+06,1.907815e+06,41.902445,-87.635315,18.0
18,2010.397609,1.167408e+06,1.924231e+06,41.947644,-87.660049,19.0
19,2010.290780,1.164085e+06,1.935463e+06,41.978537,-87.671943,20.0
20,2003.750000,1.178113e+06,1.884324e+06,41.837901,-87.621915,21.0
21,2010.262091,1.168483e+06,1.837204e+06,41.708810,-87.658608,22.0
22,2010.347569,1.162484e+06,1.945362e+06,42.005734,-87.677551,24.0
23,2010.031919,1.142361e+06,1.913653e+06,41.919117,-87.752372,25.0
24,2012.390438,1.130118e+06,1.918320e+06,41.932103,-87.797361,31.0

Execution Time: 9.68 seconds