In [3]:
# For data processing
import numpy as np
from math import sqrt
# For data processing and manipulation
import pandas as pd
import csv
 
# For date calculations
import datetime
import time
 
# For ploting data
import IPython
import IPython.display
 
import itertools
from itertools import cycle
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
 
# For checking path
import os , gc
from os import path
import csv
import json
import requests

In [4]:
from pymongo import MongoClient
import time
# pprint library is used to make the output look more pretty
'''
Should move db code to other file
'''
# connect to MongoDB, change the << MONGODB URL >> to reflect your own connection string
client = MongoClient(port=27017)
db = client.test

<h2> Query 1.1.1 </h2>

In [34]:
# Record the start time
start_time = time.time()

requestData = {
 'Category': 'ASSAULT',
 'PdDistrict': 'PARK'}

#requestData = json.dump(requestData)
res = db.crime.sf.find(requestData)


df = pd.DataFrame(list(res))

display(df)
#for r in res:
    #print(r)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time
print("Execution Time: {:.4f} seconds".format(execution_time))

,_id,PdId,IncidntNum,Incident Code,Category,Descript,DayOfWeek,Date,Time,PdDistrict,...,DELETE - 2017 Fix It Zones 2 2,Fix It Zones as of 2017-11-06 2 2,Fix It Zones as of 2018-02-07 2 2,HSOC Zones as of 2018-06-05 2 2,OWED Public Spaces 2 2,DELETE - HSOC Zones 2 2,"CBD, BID and GBD Boundaries as of 2017 2 2",Civic Center Harm Reduction Project Boundary 2 2,Central Market/Tenderloin Boundary 2 2,Central Market/Tenderloin Boundary Polygon - Updated 2 2
0,65b745b7cf903dd4f81cf879,8085785904134,80857859,4134,ASSAULT,BATTERY,Thursday,08/14/2008,19:50,PARK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,65b745b7cf903dd4f81cfafc,9011184904134,90111849,4134,ASSAULT,BATTERY,Saturday,01/31/2009,05:00,PARK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,65b745b7cf903dd4f81cfcee,4098889204134,40988892,4134,ASSAULT,BATTERY,Sunday,08/29/2004,19:30,PARK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,65b745b7cf903dd4f81d0164,13036050615201,130360506,15201,ASSAULT,STALKING,Friday,04/19/2013,16:00,PARK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,65b745b7cf903dd4f81d019e,12098884527172,120988845,27172,ASSAULT,"RESISTING PEACE OFFICER, CAUSING THEIR SERIOUS...",Friday,12/07/2012,23:13,PARK,...,22.0,24.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7400,65b7465bcf903dd4f83d6e2b,17064440104134,170644401,4134,ASSAULT,BATTERY,Wednesday,08/02/2017,13:55,PARK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7401,65b7465bcf903dd4f83d6e4d,17057125204023,170571252,4023,ASSAULT,ATTEMPTED HOMICIDE WITH A DANGEROUS WEAPON,Friday,07/14/2017,09:19,PARK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7402,65b7465bcf903dd4f83d7325,17051489804134,170514898,4134,ASSAULT,BATTERY,Saturday,06/24/2017,15:18,PARK,...,22.0,24.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7403,65b7465bcf903dd4f83d735d,17054345504014,170543455,4014,ASSAULT,AGGRAVATED ASSAULT WITH BODILY FORCE,Tuesday,07/04/2017,18:45,PARK,...,22.0,24.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7404,65b7465bcf903dd4f83d743b,17071435504014,170714355,4014,ASSAULT,AGGRAVATED ASSAULT WITH BODILY FORCE,Friday,09/01/2017,17:00,PARK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Execution Time: 0.0008 seconds

<h3><b> Columns </h3></b>

In [6]:
# Record the start time
start_time = time.time()

# Get a single document from the collection
sample_document = db.crime.sf.find_one()

# Extract field names from the document
field_names = list(sample_document.keys())

print("Field Names:", field_names)
print("Number of Fields:", len(field_names))

# Record the end time
end_time = time.time()
execution_time = end_time - start_time
print("Execution Time: {:.2f} seconds".format(execution_time))

Field Names: ['IncidntNum', 'Address', 'Incident Code', 'X', 'DELETE - Supervisor Districts 2 2', '_id', 'PdDistrict', 'Y', 'Current Supervisor Districts 2 2', 'Time', 'location', 'Category', 'Descript', 'Date', 'Resolution', 'DayOfWeek', 'DELETE - Zip Codes 2 2', 'PdId']
Number of Fields: 18
Execution Time: 0.00 seconds

In [31]:
del sample_document

<h4><b> YEARS </h4></b>
```py 
# Finding number of unique years "
num_year = dataset_df['Year'].nunique()
print("Num Year :" , num_year)
```

In [54]:
# Record the start time
start_time = time.time()

# Aggregation pipeline to extract the year from the "Date" field
pipeline = [
    {
        "$addFields": {
            "Year": {
                "$year": {
                    "$dateFromString": {
                        "dateString": "$Date",
                        "format": "%m/%d/%Y"
                    }
                }
            }
        }
    },
    {
        "$group": {
            "_id": "$Year"
        }
    },
    {
        "$sort": {
            "_id": 1
        }
    }
]

# Run the aggregation query
data_cursor = db.crime.sf.aggregate(pipeline)

# Extracting years from the query result
years = [doc['_id'] for doc in data_cursor]

print(years)
print("Number of Years:", len(years))

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Print execution time
print("Execution Time: {:.2f} seconds".format(execution_time))

[2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
Number of Years: 16
Execution Time: 2.86 seconds

<h3><b> Category Types </h3></b>
```py 
#Finding uniuqe classes"
classes = dataset_df['Category'].drop_duplicates().sort_values(ascending = True).values
print("Unique classes = \n",classes)

num_classes = classes.shape[0]
print("Number of cateories = ",num_classes)
```

In [41]:
# Record the start time
start_time = time.time()


requestData = {
 'field': 'Category'}

# urlTest = DATABASE_URL + "/query/unique/chicago/crime"
# x = requests.get(urlTest, json=requestData)
# classes = x.json()
# print("Unique classes = \n",classes)
# print("Number of cateories = ",len(classes))

classes = db.crime.sf.distinct(requestData['field'])
print(classes)
print("Number of cateories = ",len(classes))

# Record the end time
end_time = time.time()
execution_time = end_time - start_time
print("Execution Time: {:.2f} seconds".format(execution_time))

['ARSON', 'ASSAULT', 'BAD CHECKS', 'BRIBERY', 'BURGLARY', 'DISORDERLY CONDUCT', 'DRIVING UNDER THE INFLUENCE', 'DRUG/NARCOTIC', 'DRUNKENNESS', 'EMBEZZLEMENT', 'EXTORTION', 'FORGERY/COUNTERFEITING', 'FRAUD', 'GAMBLING', 'KIDNAPPING', 'LARCENY/THEFT', 'LIQUOR LAWS', 'LOITERING', 'MISSING PERSON', 'NON-CRIMINAL', 'OTHER OFFENSES', 'PORNOGRAPHY/OBSCENE MAT', 'PROSTITUTION', 'RECOVERED VEHICLE', 'ROBBERY', 'SECONDARY CODES', 'SEX OFFENSES, FORCIBLE', 'SEX OFFENSES, NON FORCIBLE', 'STOLEN PROPERTY', 'SUICIDE', 'SUSPICIOUS OCC', 'TREA', 'TRESPASS', 'VANDALISM', 'VEHICLE THEFT', 'WARRANTS', 'WEAPON LAWS']
Number of cateories =  37
Execution Time: 0.82 seconds

<h3><b> Districts </h3></b>
```py
# Finding unique police department district name 
Police_dept_name = dataset_df['PdDistrict'].drop_duplicates()
# Number of police department
num_police_dept = len(Police_dept_name)
print("Number of Police Department = ",num_police_dept)
print("Police Departments Name -> \n",Police_dept_name)
```

In [47]:
# Record the start time
start_time = time.time()

requestData = {
 'field': 'PdDistrict'}

# urlTest = DATABASE_URL + "/query/unique/chicago/crime"
# x = requests.get(urlTest, json=requestData)
# Police_dept_name = x.json()
# num_police_dept = len(Police_dept_name)
# print("Number of Police Department = ",num_police_dept)
# print("Police Departments Name -> \n",Police_dept_name)

Police_dept_name = db.crime.sf.distinct(requestData['field'])
num_police_dept = len(Police_dept_name)
print("Number of Police Department = ",num_police_dept)
print("Police Departments Name -> \n",Police_dept_name)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time
print("Execution Time: {:.2f} seconds".format(execution_time))

Number of Police Department =  11
Police Departments Name ->
 ['BAYVIEW', 'CENTRAL', 'INGLESIDE', 'MISSION', 'NA', 'NORTHERN', 'PARK', 'RICHMOND', 'SOUTHERN', 'TARAVAL', 'TENDERLOIN']
Execution Time: 1.02 seconds

In [16]:
del Police_dept_name

<h1><b> Per District Crime Without Pipeline </h1></b>

In [48]:
# crime per district without using pipeline
# Record the start time
start_time = time.time()

# Get distinct Police Department names
Police_dept_name = db.crime.sf.distinct('PdDistrict')

pdXCount = {}

# Count crimes in each Police Department
for police_dept_now in Police_dept_name:
    count = db.crime.sf.count_documents({'PdDistrict': police_dept_now})
    pdXCount[police_dept_now] = count
    print(police_dept_now, ":", count)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Print execution time
print("Execution Time: {:.2f} seconds".format(execution_time))
  
"""df = pd.DataFrame.from_dict(pdXCount, orient='index')
print(df.describe())
df.plot(kind='bar', title='Number of Crime in each Police Department', figsize=(15, 10), legend=False, fontsize=12)
plt.xlabel('Police Department', fontsize=12)
plt.ylabel('Number of Crime', fontsize=12)
plt.show()"""

BAYVIEW : 205480
CENTRAL : 221923
INGLESIDE : 181092
MISSION : 288985
NA : 1
NORTHERN : 266435
PARK : 119698
RICHMOND : 112804
SOUTHERN : 390692
TARAVAL : 155461
TENDERLOIN : 186954
Execution Time: 9.57 seconds

"df = pd.DataFrame.from_dict(pdXCount, orient='index')\nprint(df.describe())\ndf.plot(kind='bar', title='Number of Crime in each Police Department', figsize=(15, 10), legend=False, fontsize=12)\nplt.xlabel('Police Department', fontsize=12)\nplt.ylabel('Number of Crime', fontsize=12)\nplt.show()"

In [ ]:
del data

<h1><b> Per District Crime With Pipeline With Previous Query</h1></b>

In [ ]:
"""# crime per district using pipeline
disXCount = {}
for dis_now in Police_dept_name:
    requestData = {
        'District': dis_now}
    # urlTest = DATABASE_URL + "/query/aggregate/chicago/crime"
    pipeline = [
        {
            "$match": {
                "District": dis_now
            }
        },
        {
            "$group": {
                "_id": "$Primary Type",
                "count": {
                    "$sum": 1
                }
            }
        },
        {
            "$sort": {
                "District": 1
            }
        },
    ]
    # x = requests.get(urlTest, json=pipeline)
    data = db.crime.sf.aggregate(pipeline)
    # sum each crime category
    tsum = sum([x['count'] for x in data])
    print( dis_now , " : " , tsum)
    disXCount[dis_now] = tsum


df = pd.DataFrame.from_dict(disXCount, orient='index')
print(df.describe())
df.plot(kind='bar', title='Number of Crime in each District',
        figsize=(15, 10), legend=False, fontsize=12)
plt.xlabel('District', fontsize=12)
plt.ylabel('Number of Crime', fontsize=12)
plt.show()
"""

0  :  47
1  :  319772
2  :  373452
3  :  399509
4  :  447255
5  :  348740
6  :  460688
7  :  454318
8  :  529054
9  :  384567
10  :  339447
11  :  504963
12  :  391118
14  :  304514
15  :  336767
16  :  263957
17  :  227327
18  :  353907
19  :  354358
20  :  139541
21  :  4
22  :  258071
24  :  238343
25  :  447834
31  :  247

"df = pd.DataFrame.from_dict(disXCount, orient='index')\nprint(df.describe())\ndf.plot(kind='bar', title='Number of Crime in each District',\n        figsize=(15, 10), legend=False, fontsize=12)\nplt.xlabel('District', fontsize=12)\nplt.ylabel('Number of Crime', fontsize=12)\nplt.show()"

In [ ]:
del data

<h1><b> Query 1.2.1 Per District Crime With Pipeline Without Using Previous Query </b></h1>

In [64]:

# Record the start time
start_time = time.time()
tsum = 0
#crime per type
disXCount = {}
# urlTest = DATABASE_URL + "/query/aggregate/chicago/crime"
pipeline = [
    {
        "$group": {
                "_id": "$PdDistrict",
                "Case Number per District" : {"$sum" : 1}
        }
    },
    {
        "$sort": {
            "_id": 1
        }
    }
]
# x = requests.get(urlTest, json=pipeline)
# Run the aggregation query
data_cursor = db.crime.sf.aggregate(pipeline)

# Convert the cursor to a list
data = list(data_cursor)

# Calculate total sum
tsum = sum(doc['Case Number per District'] for doc in data)

# Initialize counts
disXCount = {}
c = 0

# Process each document
for doc in data:
    print(doc['_id'], " : ", doc['Case Number per District'])
    disXCount[doc['_id']] = doc['Case Number per District']
    c += 1

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Print results
print("Total Unique District =", c)
print("Total Cases =", tsum)
print("Execution Time: {:.4f} seconds".format(execution_time))

BAYVIEW  :  205480
CENTRAL  :  221923
INGLESIDE  :  181092
MISSION  :  288985
NA  :  1
NORTHERN  :  266435
PARK  :  119698
RICHMOND  :  112804
SOUTHERN  :  390692
TARAVAL  :  155461
TENDERLOIN  :  186954
Total Unique District = 11
Total Cases = 2129525
Execution Time: 0.9450 seconds

In [65]:
del data

<h1><b> 1.2.2 Per Category Crime With Pipeline Without Using Previous Query </b></h1>

In [72]:
# Record the start time
start_time = time.time()

#crime per type
typeXCount = {}
# urlTest = DATABASE_URL + "/query/aggregate/chicago/crime"
pipeline = [
    {
        "$group": {
                "_id": "$Category",
                "Case Number per Type" : {"$sum" : 1}
        }
    },
    {
        "$sort": {
            "_id": 1
        }
    }
]
# x = requests.get(urlTest, json=pipeline)
data = db.crime.sf.aggregate(pipeline)
#tsum = sum([x['Case Number per Type'] for x in data])
c = 0
for doc in data:
    #print(doc)
    print( doc['_id'] , " : " , doc['Case Number per Type'])
    typeXCount[doc['_id']] = doc['Case Number per Type']
    c = c + 1

# Record the end time
end_time = time.time()
execution_time = end_time - start_time



print("Total Unique Type = " , c)
print("Total Cases = " , tsum)
print("Execution Time: {:.2f} seconds".format(execution_time))

ARSON  :  3875
ASSAULT  :  167042
BAD CHECKS  :  924
BRIBERY  :  796
BURGLARY  :  91067
DISORDERLY CONDUCT  :  9932
DRIVING UNDER THE INFLUENCE  :  5652
DRUG/NARCOTIC  :  117821
DRUNKENNESS  :  9760
EMBEZZLEMENT  :  2984
EXTORTION  :  729
FORGERY/COUNTERFEITING  :  22995
FRAUD  :  41348
GAMBLING  :  343
KIDNAPPING  :  4282
LARCENY/THEFT  :  477975
LIQUOR LAWS  :  2840
LOITERING  :  2402
MISSING PERSON  :  44268
NON-CRIMINAL  :  236928
OTHER OFFENSES  :  301874
PORNOGRAPHY/OBSCENE MAT  :  57
PROSTITUTION  :  16501
RECOVERED VEHICLE  :  8688
ROBBERY  :  54467
SECONDARY CODES  :  22378
SEX OFFENSES, FORCIBLE  :  8747
SEX OFFENSES, NON FORCIBLE  :  43
STOLEN PROPERTY  :  11450
SUICIDE  :  1291
SUSPICIOUS OCC  :  79087
TREA  :  14
TRESPASS  :  19194
VANDALISM  :  114718
VEHICLE THEFT  :  126228
WARRANTS  :  99821
WEAPON LAWS  :  21004
Total Unique Type =  37
Total Cases =  2129525
Execution Time: 0.74 seconds

In [ ]:
del data

<h1><b> Per Year Crime With Pipeline Without Using Previous Query </b></h1>

In [74]:
"""# crime per year without previous query
yearXCount = {}
urlTest = DATABASE_URL + "/query/aggregate/chicago/crime"
pipeline = [
    {
        "$group": {
            "_id": {
                "Year": "$Year",
                "_id": "$Primary Type"
            },
           
            "count": {
                "$sum": 1
            }
        }
    },
    {
        "$sort": {
            "_id.Year": 1
        }
    }

]
x = requests.get(urlTest, json=pipeline)
data = x.json()
# sum each crime category
tsum = sum([x['count'] for x in data])
print( year_now , " : " , tsum)
yearXCount[year_now] = tsum
"""

# Record the start time
start_time = time.time()

# Aggregation pipeline to extract the year from the "Date" field and count cases per year
pipeline = [
    {
        "$addFields": {
            "Year": {
                "$year": {
                    "$dateFromString": {
                        "dateString": "$Date",
                        "format": "%m/%d/%Y"  # Adjust to match your date format
                    }
                }
            }
        }
    },
    {
        "$group": {
            "_id": "$Year",
            "Case Number per Year": {"$sum": 1}
        }
    },
    {
        "$sort": {
            "_id": 1
        }
    }
]

# Run the aggregation query
data_cursor = db.crime.sf.aggregate(pipeline)

# Convert the cursor to a list
data = list(data_cursor)

# Calculate total sum
tsum = sum(doc['Case Number per Year'] for doc in data)

# Initialize counts
yearXCount = {}
c = 0

# Process each document
for doc in data:
    print(doc['_id'], " : ", doc['Case Number per Year'])
    yearXCount[doc['_id']] = doc['Case Number per Year']
    c += 1

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Print results
print("Total Unique Years =", c)
print("Total Cases =", tsum)
print("Execution Time: {:.2f} seconds".format(execution_time))

2003  :  142803
2004  :  142054
2005  :  137048
2006  :  131856
2007  :  131771
2008  :  135242
2009  :  134309
2010  :  127758
2011  :  126713
2012  :  135464
2013  :  147664
2014  :  144844
2015  :  151459
2016  :  145994
2017  :  149487
2018  :  45059
Total Unique Years = 16
Total Cases = 2129525
Execution Time: 2.97 seconds

In [22]:
del data

In [ ]:
"""data = x.json()
print(data)
# save data in json file
with open('chicago_crime_category_count.json', 'w') as outfile:
    json.dump(data, outfile)
    
    # sum each crime category

yearXCount = {}"""

"data = x.json()\nprint(data)\n# save data in json file\nwith open('chicago_crime_category_count.json', 'w') as outfile:\n    json.dump(data, outfile)\n    \n    # sum each crime category\n\nyearXCount = {}"

<h2><b> Per Month Crime Withot using Pipeline</h2></b>

In [5]:
# crime per month without using pipeline

# Record the start time
start_time = time.time()

monthXCount = {}
for month_now in range(1,13):
    requestData = {
     'Month': month_now}
    # urlTest = DATABASE_URL + "/query/find/chicago/crime"
    # x = requests.get(urlTest, json=requestData)
    data = db.crime.sf.find(requestData)
    print( month_now , " : " , len(data))
    monthXCount[month_now] = len(data)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time
print("Execution Time: {:.2f} seconds".format(execution_time))
        
        
"""
df = pd.DataFrame.from_dict(monthXCount, orient='index')
print(df.describe())
df.plot(kind='bar', title='Number of Crime in each Month', figsize=(15, 10), legend=False, fontsize=12)
plt.xlabel('Month', fontsize=12)
plt.ylabel('Number of Crime', fontsize=12)
plt.show()
"""

TypeError: object of type 'Cursor' has no len()

In [ ]:
del data

<h2><b>  working Per Month Crime using Pipeline</h2></b>

In [61]:
#per month crime using pipeline

# Record the start time
start_time = time.time()

# Aggregation pipeline to count crimes per month
pipeline = [
    {
        "$addFields": {
            "Month": {
                "$month": {
                    "$dateFromString": {
                        "dateString": "$Date",
                        "format": "%m/%d/%Y"
                    }
                }
            }
        }
    },
    {
        "$group": {
            "_id": "$Month",
            "total_cases": {"$sum": 1},
        }
    },
    {
        "$sort": {
            "_id": 1
        }
    },
    {
        "$project": {
            "_id": 0,
            "month": "$_id",
            "total_cases": 1,
        }
    }
]

# Run the aggregation query
data_cursor = db.crime.sf.aggregate(pipeline)

# Initialize count
c = 0

# Process each document
for doc in data_cursor:
    print(doc)
    c += 1

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Print results
print("Total months =", c)
print("Execution Time: {:.2f} seconds".format(execution_time))

{'total_cases': 189723, 'month': 1}
{'total_cases': 171125, 'month': 2}
{'total_cases': 189389, 'month': 3}
{'total_cases': 182248, 'month': 4}
{'total_cases': 179939, 'month': 5}
{'total_cases': 168232, 'month': 6}
{'total_cases': 175525, 'month': 7}
{'total_cases': 181183, 'month': 8}
{'total_cases': 176413, 'month': 9}
{'total_cases': 183034, 'month': 10}
{'total_cases': 168193, 'month': 11}
{'total_cases': 164521, 'month': 12}
Total months = 12
Execution Time: 2.84 seconds

In [ ]:
del data

In [ ]:
'''
# per discrict, per year crime count
for police_dept_now in Police_dept_name:
    yearXCount = {}
    for year_now in num_year:
        requestData = {
         'year': year_now,
         'district': police_dept_now}
        urlTest = DATABASE_URL + "/query/find/chicago/crime"
        x = requests.get(urlTest, json=requestData)
        data = x.json()
        # print( year_now , " : " , len(data))
        yearXCount[year_now] = len(data)
    df = pd.DataFrame.from_dict(yearXCount, orient='index')
    print(df.describe())
    df.plot(kind='bar', title='Number of Crime in each Year in Police Department '+str(police_dept_now), figsize=(15, 10), legend=False, fontsize=12)
    plt.xlabel('Year', fontsize=12)
    plt.ylabel('Number of Crime', fontsize=12)
    plt.show()
'''

'\n# per discrict, per year crime count\nfor police_dept_now in Police_dept_name:\n    yearXCount = {}\n    for year_now in num_year:\n        requestData = {\n         \'year\': year_now,\n         \'district\': police_dept_now}\n        urlTest = DATABASE_URL + "/query/find/chicago/crime"\n        x = requests.get(urlTest, json=requestData)\n        data = x.json()\n        # print( year_now , " : " , len(data))\n        yearXCount[year_now] = len(data)\n    df = pd.DataFrame.from_dict(yearXCount, orient=\'index\')\n    print(df.describe())\n    df.plot(kind=\'bar\', title=\'Number of Crime in each Year in Police Department \'+str(police_dept_now), figsize=(15, 10), legend=False, fontsize=12)\n    plt.xlabel(\'Year\', fontsize=12)\n    plt.ylabel(\'Number of Crime\', fontsize=12)\n    plt.show()\n'

In [ ]:
# per discrict, per month crime count
for police_dept_now in Police_dept_name:
    monthXCount = {}
    for month_now in range(1,13):
        requestData = {
         'month': month_now,
         'district': police_dept_now}
        # urlTest = DATABASE_URL + "/query/find/chicago/crime"
        # x = requests.get(urlTest, json=requestData)
        data = db.crime.sf.find(requestData)
        print( year_now , " : " , len(data))
        monthXCount[month_now] = len(data)
"""    
    df = pd.DataFrame.from_dict(monthXCount, orient='index')
    print(df.describe())
    df.plot(kind='bar', title='Number of Crime in each Year in Police Department '+str(police_dept_now), figsize=(15, 10), legend=False, fontsize=12)
    plt.xlabel('Month', fontsize=12)
    plt.ylabel('Number of Crime', fontsize=12)
    plt.show()"""

NameError: name 'year_now' is not defined

In [ ]:
del data

<h1><b>Unique Primary Types without Pipeline</h1></b>

In [ ]:
# Record the start time
start_time = time.time()

requestData = {
    'field' : 'Primary Type'}
# urlTest = DATABASE_URL + "/query/unique/chicago/crime"
# x = requests.get(urlTest, json=requestData)
primary_types = db.crime.sf.distinct(requestData['field'])
print("Unique Primary Types = \n",primary_types)
print("Number of Primary Types = ",len(primary_types))

# Record the end time
end_time = time.time()
execution_time = end_time - start_time
print("Execution Time: {:.2f} seconds".format(execution_time))

Unique Primary Types =
 ['ARSON', 'ASSAULT', 'BATTERY', 'BURGLARY', 'CONCEALED CARRY LICENSE VIOLATION', 'CRIM SEXUAL ASSAULT', 'CRIMINAL DAMAGE', 'CRIMINAL SEXUAL ASSAULT', 'CRIMINAL TRESPASS', 'DECEPTIVE PRACTICE', 'DOMESTIC VIOLENCE', 'GAMBLING', 'HOMICIDE', 'HUMAN TRAFFICKING', 'INTERFERENCE WITH PUBLIC OFFICER', 'INTIMIDATION', 'KIDNAPPING', 'LIQUOR LAW VIOLATION', 'MOTOR VEHICLE THEFT', 'NARCOTICS', 'NON - CRIMINAL', 'NON-CRIMINAL', 'NON-CRIMINAL (SUBJECT SPECIFIED)', 'OBSCENITY', 'OFFENSE INVOLVING CHILDREN', 'OTHER NARCOTIC VIOLATION', 'OTHER OFFENSE', 'PROSTITUTION', 'PUBLIC INDECENCY', 'PUBLIC PEACE VIOLATION', 'RITUALISM', 'ROBBERY', 'SEX OFFENSE', 'STALKING', 'THEFT', 'WEAPONS VIOLATION']
Number of Primary Types =  36
Execution Time: 9.01 seconds

In [ ]:
del data

<h1><b>Unique Primary Types and their amount/number using aggregate</h1></b>

In [ ]:
# Record the start time
start_time = time.time()

#crime per type
typeXCount = {}
#for type_now in primary_types:
    #requestData = {
     #'Primary Type': type_now}
# urlTest = DATABASE_URL + "/query/aggregate/chicago/crime"
pipeline = [
    {
        "$group": {
                "_id": "$Primary Type",
                "Case Number per Type" : {"$sum" : 1}
        }
    }
]
# x = requests.get(urlTest, json=pipeline)
data = db.crime.sf.aggregate(pipeline)
tsum = sum([x['Case Number per Type'] for x in data])
c = 0
for doc in data:
    print(doc)
    typeXCount[doc['_id']] = doc['Case Number per Type']
    c = c + 1

# Record the end time
end_time = time.time()
execution_time = end_time - start_time


print("Total Unique Types = " , c)
print("Total Cases = " , tsum)
print("Execution Time: {:.2f} seconds".format(execution_time))

Total Unique Types =  0
Total Cases =  7877800
Execution Time: 7.76 seconds

In [ ]:
del data

<h1><b>Weekday Statistics:</b></h1>

In [64]:
# Record the start time
start_time = time.time()

# Aggregation pipeline to count incidents by day of the week
pipeline = [
    {
        "$group": {
            "_id": "$DayOfWeek",
            "IncidentsPerDay" : {"$sum": 1}
        }
    },
    {
        "$sort": {
            "_id": 1
        }
    }
]

# Run the aggregation query
data_cursor = db.crime.sf.aggregate(pipeline)

# Convert the cursor to a list
data = list(data_cursor)

# Calculate total sum
tsum = sum(doc['IncidentsPerDay'] for doc in data)

# Initialize counts
dayOfWeekCount = {}
c = 0

# Process each document
for doc in data:
    print(doc)
    dayOfWeekCount[doc['_id']] = doc['IncidentsPerDay']
    c += 1

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Print results
print("Total Days of Week =", c)
print("Total Incidents =", tsum)
print("Execution Time: {:.2f} seconds".format(execution_time))

{'_id': 'Friday', 'IncidentsPerDay': 324151}
{'_id': 'Monday', 'IncidentsPerDay': 294530}
{'_id': 'Saturday', 'IncidentsPerDay': 308907}
{'_id': 'Sunday', 'IncidentsPerDay': 283988}
{'_id': 'Thursday', 'IncidentsPerDay': 303893}
{'_id': 'Tuesday', 'IncidentsPerDay': 302455}
{'_id': 'Wednesday', 'IncidentsPerDay': 311601}
Total Days of Week = 7
Total Incidents = 2129525
Execution Time: 0.85 seconds

In [ ]:
del data

<h1><b> Top 10 Locations with the Most Cases: </b></h1>

In [67]:
# Record the start time
start_time = time.time()

#Arrest count
locationXCount = {}
# urlTest = DATABASE_URL + "/query/aggregate/chicago/crime"
pipeline = [
    {
        "$group": {
                "_id": "$location",
                "Number of Cases" : {"$sum" : 1}
        }
    },
    {
        "$sort": {
            "Number of Cases": -1
        }
    },
    {
        "$limit": 10
    }
]
# Run the aggregation query
data_cursor = db.crime.sf.aggregate(pipeline)

# Convert the cursor to a list
data = list(data_cursor)

# Calculate total sum
tsum = sum(doc['Number of Cases'] for doc in data)

# Initialize counts
locationXCount = {}
c = 0

# Process each document
for doc in data:
    print(doc)
    locationXCount[doc['_id']] = doc['Number of Cases']
    c += 1

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Print results
print("Total Cases in Top 10 Locations =", tsum)
print("Execution Time: {:.2f} seconds".format(execution_time))

{'_id': 'POINT (-122.40340479147902 37.775420706711)', 'Number of Cases': 53862}
{'_id': 'POINT (-122.40340479147905 37.775420706711)', 'Number of Cases': 8866}
{'_id': 'POINT (-122.41965834370998 37.7642205603745)', 'Number of Cases': 8756}
{'_id': 'POINT (-122.40653911514798 37.7564864109309)', 'Number of Cases': 8008}
{'_id': 'POINT (-122.419671780296 37.7650501214668)', 'Number of Cases': 6568}
{'_id': 'POINT (-122.40763352074198 37.7841893501425)', 'Number of Cases': 6566}
{'_id': 'POINT (-122.409853729941 37.7833862379382)', 'Number of Cases': 4954}
{'_id': 'POINT (-122.40652098714399 37.7850629421661)', 'Number of Cases': 4918}
{'_id': 'POINT (-122.466204667893 37.7725405391593)', 'Number of Cases': 4653}
{'_id': 'POINT (-122.426955631709 37.769247063207)', 'Number of Cases': 4238}
Total Cases in Top 10 Locations = 111389
Execution Time: 1.40 seconds

In [ ]:
del data

<h1><b>Average Cases Per Year</b></h1>

In [70]:
# Record the start time
start_time = time.time()

# Aggregation pipeline to calculate the average number of cases per year
pipeline = [
    {
        "$addFields": {
            "Year": {
                "$year": {
                    "$dateFromString": {
                        "dateString": "$Date",
                        "format": "%m/%d/%Y"  # Adjust to match your date format
                    }
                }
            }
        }
    },
    {
        "$group": {
            "_id": "$Year",
            "total_cases": {"$sum": 1},
        }
    },
    {
        "$group": {
            "_id": None,
            "average_cases_per_year": {"$avg": "$total_cases"},
        }
    }
]

# Run the aggregation query
data_cursor = db.crime.sf.aggregate(pipeline)

# Access the results from the response
for doc in data_cursor:
    average_cases_per_year = doc["average_cases_per_year"]
    print(f"Average Cases per Year: {average_cases_per_year}")

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Print execution time
print("Execution Time: {:.2f} seconds".format(execution_time))

Average Cases per Year: 133095.3125
Execution Time: 2.84 seconds

In [ ]:
del data

<h1><b> Complex Queries </h1></b>

<h3> Year-over-Year Change in Crime Types within Vulnerable Areas </h3>

In [7]:
# Record the start time
start_time = time.time()

# Aggregation pipeline to calculate the average number of cases per year
pipeline = [
  {
    '$match': {
      "Areas of Vulnerability, 2016 2 2": { "$ne": None }
    }
  },
  {
    '$project': {
      'Vulnerability_Level': '$Areas of Vulnerability, 2016 2 2',
      'Category': 1,
      'Year': { '$year': { '$dateFromString': { 'dateString': '$Date', 'format': '%m/%d/%Y' } } },
      'Total_Incidents': 1
    }
  },
  {
    '$group': {
      '_id': {
        'Vulnerability_Level': '$Vulnerability_Level',
        'Category': '$Category',
        'Year': '$Year'
      },
      'Total_Incidents': { '$sum': 1 }
    }
  },
  {
    '$sort': {
      '_id.Vulnerability_Level': 1,
      '_id.Category': 1,
      '_id.Year': 1
    }
  },
  {
    '$lookup': {
      'from': "collection.name",
      'let': {
        'vulnerability_level': '$_id.Vulnerability_Level',
        'category': '$_id.Category',
        'previous_year': { '$subtract': ['$_id.Year', 1] }
      },
      'pipeline': [
        {
          '$match': {
            '$expr': {
              '$and': [
                { '$eq': ['$Areas of Vulnerability, 2016 2 2', '$$vulnerability_level'] },
                { '$eq': ['$Category', '$$category'] },
                { '$eq': [{ '$year': { '$dateFromString': { 'dateString': '$Date', 'format': '%m/%d/%Y' } } }, '$$previous_year'] }
              ]
            }
          }
        },
        {
          '$group': {
            '_id': None,
            'Previous_Year_Incidents': { '$sum': 1 }
          }
        }
      ],
      'as': 'PreviousYearData'
    }
  },
  {
    '$project': {
      'Vulnerability_Level': '$_id.Vulnerability_Level',
      'Category': '$_id.Category',
      'Current_Year': '$_id.Year',
      'Previous_Year_Incidents': { '$arrayElemAt': ['$PreviousYearData.Previous_Year_Incidents', 0] },
      'Current_Year_Incidents': '$Total_Incidents',
      'Year_Over_Year_Change': { '$subtract': ['$Total_Incidents', { '$arrayElemAt': ['$PreviousYearData.Previous_Year_Incidents', 0] }] }
    }
  },
  {
    '$sort': {
      'Vulnerability_Level': 1,
      'Category': 1,
      'Current_Year': 1
    }
  }
]


# Execute the pipeline
# results = db.collection.aggregate(pipeline)

# Note: MongoDB does not directly support self-joins or easily calculating differences between documents in a single aggregation pipeline.
# For the year-over-year comparison, consider retrieving the data first and then performing the comparison in your application logic,
# or restructuring your data to facilitate easier comparisons within the database.

# Run the aggregation query
data = db.crime.sf.aggregate(pipeline)

# Collect the results into a list of dictionaries
results = list(data)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Create a DataFrame from the results
df = pd.DataFrame(results)

# Print the DataFrame as a table
display(df)  # Use print(df) if not in a Jupyter notebook

# Print execution time
print(f"Execution Time: {execution_time:.2f} seconds")

#3.0 seconds

,_id,Vulnerability_Level,Category,Current_Year,Current_Year_Incidents,Year_Over_Year_Change
0,"{'Vulnerability_Level': 1, 'Category': 'ARSON'...",1,ARSON,2003,116,None
1,"{'Vulnerability_Level': 1, 'Category': 'ARSON'...",1,ARSON,2004,107,None
2,"{'Vulnerability_Level': 1, 'Category': 'ARSON'...",1,ARSON,2005,87,None
3,"{'Vulnerability_Level': 1, 'Category': 'ARSON'...",1,ARSON,2006,94,None
4,"{'Vulnerability_Level': 1, 'Category': 'ARSON'...",1,ARSON,2007,92,None
...,...,...,...,...,...,...
1131,"{'Vulnerability_Level': 2, 'Category': 'WEAPON...",2,WEAPON LAWS,2014,1091,None
1132,"{'Vulnerability_Level': 2, 'Category': 'WEAPON...",2,WEAPON LAWS,2015,1149,None
1133,"{'Vulnerability_Level': 2, 'Category': 'WEAPON...",2,WEAPON LAWS,2016,1096,None
1134,"{'Vulnerability_Level': 2, 'Category': 'WEAPON...",2,WEAPON LAWS,2017,1190,None
1135,"{'Vulnerability_Level': 2, 'Category': 'WEAPON...",2,WEAPON LAWS,2018,432,None

Execution Time: 9.59 seconds

<h3> Crime Incident Density by District and Time of Day <h3>

In [14]:
# Record the start time
start_time = time.time()

# Aggregation pipeline to calculate the average number of cases per year
pipeline = [
    {
        "$addFields": {
            "Hour": {
                "$toInt": {
                    "$substr": ["$Time", 0, 2]  # Extracts the hour part from the "Time" field
                }
            }
        }
    },
    {
        "$addFields": {
            "TimeOfDay": {
                "$switch": {
                    "branches": [
                        {"case": {"$lt": ["$Hour", 8]}, "then": "Night"},
                        {"case": {"$and": [{"$gte": ["$Hour", 8]}, {"$lt": ["$Hour", 16]}]}, "then": "Day"}
                    ],
                    "default": "Evening"
                }
            }
        }
    },
    {
        # Stage to group by PdDistrict and TimeOfDay
        "$group": {
            "_id": {
                "PdDistrict": "$PdDistrict",
                "TimeOfDay": "$TimeOfDay"
            },
            "Total_Incidents": {"$sum": 1},
            "Avg_Longitude": {"$avg": "$X"},
            "Avg_Latitude": {"$avg": "$Y"}
        }
    },
    {
        # Stage to sort the results
        "$sort": {
            "_id.PdDistrict": 1,
            "_id.TimeOfDay": 1
        }
    },
    {
        # Stage to project the final structure
        "$project": {
            "_id": 0,
            "PdDistrict": "$_id.PdDistrict",
            "TimeOfDay": "$_id.TimeOfDay",
            "Total_Incidents": 1,
            "Avg_Longitude": 1,
            "Avg_Latitude": 1
        }
    }
]


# Execute the pipeline
# results = db.collection.aggregate(pipeline)

# Note: MongoDB does not directly support self-joins or easily calculating differences between documents in a single aggregation pipeline.
# For the year-over-year comparison, consider retrieving the data first and then performing the comparison in your application logic,
# or restructuring your data to facilitate easier comparisons within the database.

# Run the aggregation query
data = db.crime.sf.aggregate(pipeline)

# Collect the results into a list of dictionaries
results = list(data)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Create a DataFrame from the results
df = pd.DataFrame(results)

# Print the DataFrame as a table
display(df)  # Use print(df) if not in a Jupyter notebook

# Print execution time
print(f"Execution Time: {execution_time:.2f} seconds")
#1.4 seconds

    Total_Incidents  Avg_Longitude  Avg_Latitude  PdDistrict TimeOfDay
0             79166    -122.393515     37.740140     BAYVIEW       Day
1             90801    -122.393475     37.742185     BAYVIEW   Evening
2             35513    -122.393762     37.741682     BAYVIEW     Night
3             82769    -122.409242     37.798194     CENTRAL       Day
4             95982    -122.409669     37.797345     CENTRAL   Evening
5             43172    -122.409801     37.798405     CENTRAL     Night
6             66671    -122.429334     37.730509   INGLESIDE       Day
7             81744    -122.428619     37.727575   INGLESIDE   Evening
8             32677    -122.428720     37.726984   INGLESIDE     Night
9            101022    -122.419130     37.761211     MISSION       Day
10           128176    -122.419729     37.759938     MISSION   Evening
11            59787    -122.419932     37.760205     MISSION     Night
12                1    -122.413352     37.708202          NA   Evening
13            93358    -122.427076     37.788509    NORTHERN       Day
14           119756    -122.426569     37.792506    NORTHERN   Evening
15            53321    -122.425364     37.798834    NORTHERN     Night
16            47744    -122.446096     37.771235        PARK       Day
17            52119    -122.445125     37.773451        PARK   Evening
18            19835    -122.444696     37.769854        PARK     Night
19            44706    -122.471239     37.784250    RICHMOND       Day
20            48597    -122.470483     37.788832    RICHMOND   Evening
21            19501    -122.469225     37.788566    RICHMOND     Night
22           152055    -122.405516     37.781232    SOUTHERN       Day
23           171294    -122.404836     37.783926    SOUTHERN   Evening
24            67343    -122.405177     37.784012    SOUTHERN     Night
25            61015    -122.477818     37.739763     TARAVAL       Day
26            67777    -122.477486     37.741129     TARAVAL   Evening
27            26669    -122.478405     37.738699     TARAVAL     Night
28            74377    -122.412107     37.792097  TENDERLOIN       Day
29            79546    -122.412032     37.795625  TENDERLOIN   Evening
30            33031    -122.412684     37.790111  TENDERLOIN     Night

Execution Time: 4.30 seconds

<h3> Analysis of Crime Resolutions in Relation to Special Zones and Neighborhoods <h3>

In [15]:
# Record the start time
start_time = time.time()

# Aggregation pipeline to calculate the average number of cases per year
pipeline = [
    {
        "$match": {
            "Resolution": {"$in": ["ARREST, BOOKED", "NONE"]},
            "$or": [
                {"Central Market/Tenderloin Boundary 2 2": {"$ne": None}},
                {"HSOC Zones as of 2018-06-05 2 2": {"$ne": None}}
            ]
        }
    },
    {
        "$group": {
            "_id": {
                "Category": "$Category",
                "Resolution": "$Resolution",
                "Neighborhood": "$Analysis Neighborhoods 2 2",
                "Tenderloin_Boundary": "$Central Market/Tenderloin Boundary 2 2",
                "HSOC_Zone": "$HSOC Zones as of 2018-06-05 2 2"
            },
            "Total_Cases": {"$sum": 1},
            "Avg_Longitude": {"$avg": "$X"},
            "Avg_Latitude": {"$avg": "$Y"}
        }
    },
    {
        "$sort": {"Total_Cases": -1}
    },
    {
        "$project": {
            "_id": 0,
            "Category": "$_id.Category",
            "Resolution": "$_id.Resolution",
            "Neighborhood": "$_id.Neighborhood",
            "Tenderloin_Boundary": "$_id.Tenderloin_Boundary",
            "HSOC_Zone": "$_id.HSOC_Zone",
            "Total_Cases": 1,
            "Avg_Longitude": 1,
            "Avg_Latitude": 1
        }
    }
]


# Execute the pipeline
# results = db.collection.aggregate(pipeline)

# Note: MongoDB does not directly support self-joins or easily calculating differences between documents in a single aggregation pipeline.
# For the year-over-year comparison, consider retrieving the data first and then performing the comparison in your application logic,
# or restructuring your data to facilitate easier comparisons within the database.

# Run the aggregation query
data = db.crime.sf.aggregate(pipeline)

# Collect the results into a list of dictionaries
results = list(data)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Create a DataFrame from the results
df = pd.DataFrame(results)

# Print the DataFrame as a table
display(df)  # Use print(df) if not in a Jupyter notebook

# Print execution time
print(f"Execution Time: {execution_time:.2f} seconds")
#2.1 seconds

,Total_Cases,Avg_Longitude,Avg_Latitude,Category,Resolution,Neighborhood,HSOC_Zone,Tenderloin_Boundary
0,25801,-122.415942,37.760842,LARCENY/THEFT,NONE,20,3.0,NaN
1,20203,-122.413528,37.784405,DRUG/NARCOTIC,"ARREST, BOOKED",36,NaN,1.0
2,18696,-122.413597,37.781864,DRUG/NARCOTIC,"ARREST, BOOKED",36,1.0,1.0
3,16099,-122.416196,37.759797,NON-CRIMINAL,NONE,20,3.0,NaN
4,16065,-122.417030,37.761088,OTHER OFFENSES,"ARREST, BOOKED",20,3.0,NaN
...,...,...,...,...,...,...,...,...
1176,1,-122.430808,37.769411,MISSING PERSON,"ARREST, BOOKED",9,5.0,NaN
1177,1,-122.407343,37.769857,EMBEZZLEMENT,NONE,34,2.0,NaN
1178,1,-122.403539,37.748119,WEAPON LAWS,NONE,1,3.0,NaN
1179,1,-122.418610,37.747445,BRIBERY,NONE,2,3.0,NaN
1180,1,-122.403703,37.769735,STOLEN PROPERTY,NONE,4,2.0,NaN

Execution Time: 2.34 seconds

<h1><b> addition </b></h1>

<h1><b> subtraction </b></h1>

<h1><b> comparing </b></h1>

<h3> Query 1.1.2 Compare whether the Incident Code is higher than a specified value </h3>

In [48]:
# Record the start time
start_time = time.time()

# Aggregation pipeline to calculate the average number of cases per year
pipeline = [
    {
        "$project": {
            "IncidntNum": 1,
            "Incident Code": 1,
            "coordinate_difference": {
                "$subtract": ["$X", "$Y"]
            },
            "code_level": {
                "$cond": {
                    "if": {"$gt": ["$Incident Code", 20000]},
                    "then": "High Code",
                    "else": "Low Code"
                }
            }
        }
    }
]

# Run the aggregation query
data = db.crime.sf.aggregate(pipeline)

# Collect the results into a list of dictionaries
results = list(data)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Create a DataFrame from the results
df = pd.DataFrame(results)

# Print the DataFrame as a table
display(df)  # Use print(df) if not in a Jupyter notebook

# Print execution time
print(f"Execution Time: {execution_time:.2f} seconds")
#2.8 seconds
#{ "IncidntNum": 1, "Incident Code": 1, "coordinate_difference": { "$subtract": [ "$X", "$Y" ] }, "code_level": { "$cond": { "if": { "$gt": [ "$Incident Code", 20000 ] }, "then": "High Code", "else": "Low Code" } } }

,_id,IncidntNum,Incident Code,coordinate_difference,code_level
0,65b745b7cf903dd4f81cf5ca,41334220,3074,-160.128395,Low Code
1,65b745b7cf903dd4f81cf5cb,51185358,7021,-210.500000,Low Code
2,65b745b7cf903dd4f81cf5cc,40188309,7021,-210.500000,Low Code
3,65b745b7cf903dd4f81cf5cd,110145431,26030,-160.160597,High Code
4,65b745b7cf903dd4f81cf5ce,101081080,4134,-160.181454,Low Code
...,...,...,...,...,...
2129520,65b7465bcf903dd4f83d743a,170507304,16710,-160.197579,Low Code
2129521,65b7465bcf903dd4f83d743b,170714355,4014,-160.213782,Low Code
2129522,65b7465bcf903dd4f83d743c,170533484,65010,-160.142514,High Code
2129523,65b7465bcf903dd4f83d743d,171027763,30130,-160.192993,High Code
2129524,65b7465bcf903dd4f83d743e,170881421,28160,-160.163278,High Code

Execution Time: 16.89 seconds

<h3> Query 1.1.3 various incident details </h3>

In [6]:
# Record the start time
start_time = time.time()

# Aggregation pipeline to calculate the average number of cases per year
pipeline = [
  {
    "$project": {
      "IncidntNum": 1,
      "Category": 1,
      "Descript": 1,
      "DayOfWeek": 1,
      "PdDistrict": 1,
      "police_greater_than_supervisor": {
        "$gt": ["$Current Police Districts 2 2", "$Current Supervisor Districts 2 2"]
      },
      "in_neighborhood_94": {
        "$eq": ["$Neighborhoods 2", 94]
      },
      "delete_fields_equal": {
        "$eq": ["$DELETE - Police Districts 2 2", "$DELETE - Supervisor Districts 2 2"]
      }
    }
  }
]

# Run the aggregation query
data = db.crime.sf.aggregate(pipeline)

# Collect the results into a list of dictionaries
results = list(data)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Create a DataFrame from the results
df = pd.DataFrame(results)

# Print the DataFrame as a table
display(df)  # Use print(df) if not in a Jupyter notebook

# Print execution time
print(f"Execution Time: {execution_time:.2f} seconds")
#3.4 seconds

,_id,IncidntNum,Category,Descript,DayOfWeek,PdDistrict,police_greater_than_supervisor,in_neighborhood_94,delete_fields_equal
0,65b745b7cf903dd4f81cf5ca,41334220,ROBBERY,"ROBBERY, BODILY FORCE",Monday,INGLESIDE,False,False,False
1,65b745b7cf903dd4f81cf5cb,51185358,VEHICLE THEFT,STOLEN AUTOMOBILE,Tuesday,PARK,False,False,True
2,65b745b7cf903dd4f81cf5cc,40188309,VEHICLE THEFT,STOLEN AUTOMOBILE,Sunday,SOUTHERN,False,False,True
3,65b745b7cf903dd4f81cf5cd,110145431,ARSON,ARSON,Friday,INGLESIDE,True,True,False
4,65b745b7cf903dd4f81cf5ce,101081080,ASSAULT,BATTERY,Sunday,SOUTHERN,False,False,False
...,...,...,...,...,...,...,...,...,...
2129520,65b7465bcf903dd4f83d743a,170507304,DRUG/NARCOTIC,POSSESSION OF NARCOTICS PARAPHERNALIA,Thursday,CENTRAL,True,False,False
2129521,65b7465bcf903dd4f83d743b,170714355,ASSAULT,AGGRAVATED ASSAULT WITH BODILY FORCE,Friday,PARK,True,False,True
2129522,65b7465bcf903dd4f83d743c,170533484,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Friday,BAYVIEW,False,False,False
2129523,65b7465bcf903dd4f83d743d,171027763,OTHER OFFENSES,PEDDLING WITHOUT A LICENSE,Wednesday,SOUTHERN,False,False,False
2129524,65b7465bcf903dd4f83d743e,170881421,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",Friday,INGLESIDE,True,False,False

Execution Time: 17.72 seconds

<h3> Query 1.1.4 Check if the incident location description contains specific words </h3>

In [49]:
# Record the start time
start_time = time.time()

# Aggregation pipeline to calculate the average number of cases per year
pipeline = [
  {
    "$addFields": {
      "location_type": {
        "$switch": {
          "branches": [
            {
              "case": { "$regexMatch": { "input": "$location", "regex": "STREET", "options": "i" } },
              "then": "Street"
            },
            {
              "case": { "$regexMatch": { "input": "$location", "regex": "AVENUE", "options": "i" } },
              "then": "Avenue"
            }
          ],
          "default": "Other"
        }
      }
    }
  },
  {
    "$project": {
      "IncidntNum": 1,
      "location": 1,
      "Time": 1,
      "Resolution": 1,
      "X": 1,
      "Y": 1,
      "location_type": 1
    }
  }
]

# Run the aggregation query
data = db.crime.sf.aggregate(pipeline)

# Collect the results into a list of dictionaries
results = list(data)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Create a DataFrame from the results
df = pd.DataFrame(results)

# Print the DataFrame as a table
display(df)  # Use print(df) if not in a Jupyter notebook

# Print execution time
print(f"Execution Time: {execution_time:.2f} seconds")
# 1.5 seconds
#{"IncidntNum": 1, "location": 1, "Time": 1, "Resolution": 1, "X": 1, "Y": 1, "location_type": {"$switch": {"branches": [{"case": {"$regexMatch": {"input": "$location", "regex": ".*STREET.*"}}, "then": "Street"}, {"case": {"$regexMatch": {"input": "$location", "regex": ".*AVENUE.*"}}, "then": "Avenue"}], "default": "Other"}}}
#5.1 seconds in compass query projection

,_id,IncidntNum,Time,Resolution,X,Y,location,location_type
0,65b745b7cf903dd4f81cf5ca,41334220,17:50,NONE,-122.420084,37.708311,POINT (-122.420084075249 37.7083109744362),Other
1,65b745b7cf903dd4f81cf5cb,51185358,20:00,NONE,-120.500000,90.000000,POINT (-120.50000000000001 90),Other
2,65b745b7cf903dd4f81cf5cc,40188309,02:00,NONE,-120.500000,90.000000,POINT (-120.50000000000001 90),Other
3,65b745b7cf903dd4f81cf5cd,110145431,05:27,NONE,-122.436220,37.724377,POINT (-122.43622001281001 37.7243766140428),Other
4,65b745b7cf903dd4f81cf5ce,101081080,17:00,NONE,-122.410541,37.770913,POINT (-122.410541166987 37.7709130566165),Other
...,...,...,...,...,...,...,...,...
2129520,65b7465bcf903dd4f83d743a,170507304,01:42,"ARREST, CITED",-122.398699,37.798880,POINT (-122.39869911640743 37.798880026259866),Other
2129521,65b7465bcf903dd4f83d743b,170714355,17:00,NONE,-122.443312,37.770470,POINT (-122.44331194960198 37.77046975485389),Other
2129522,65b7465bcf903dd4f83d743c,170533484,17:50,"ARREST, BOOKED",-122.387068,37.755446,POINT (-122.38706797754722 37.75544602661817),Other
2129523,65b7465bcf903dd4f83d743d,171027763,15:41,"ARREST, BOOKED",-122.412515,37.780478,POINT (-122.41251534135559 37.78047774805081),Other
2129524,65b7465bcf903dd4f83d743e,170881421,21:30,NONE,-122.451217,37.712061,POINT (-122.4512170784155 37.712061003833156),Other

Execution Time: 21.74 seconds

<h3> Query 1.1.5 Select incidents where the incident code is between certain values and compare coordinates </h3>

In [52]:
# Record the start time
start_time = time.time()

# Aggregation pipeline to calculate the average number of cases per year
pipeline = [
  {
    "$addFields": {
      "is_x_greater_than_y": {
        "$gt": ["$X", "$Y"]
      },
      "is_code_in_range": {
        "$and": [
          { "$gte": ["$Incident Code", 20000] },
          { "$lte": ["$Incident Code", 30000] }
        ]
      },
      "is_on_street": {
        "$regexMatch": {
          "input": "$location",
          "regex": "STREET",
          "options": "i"
        }
      }
    }
  },
  {
    "$project": {
      "IncidntNum": 1,
      "Incident Code": 1,
      "is_x_greater_than_y": 1,
      "Date": 1,
      "Time": 1,
      "is_code_in_range": 1,
      "is_on_street": 1
    }
  }
]

# Run the aggregation query
data = db.crime.sf.aggregate(pipeline)

# Collect the results into a list of dictionaries
results = list(data)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Create a DataFrame from the results
df = pd.DataFrame(results)

# Print the DataFrame as a table
display(df)  # Use print(df) if not in a Jupyter notebook

# Print execution time
print(f"Execution Time: {execution_time:.2f} seconds")
# 1.5 seconds

"""
aggregate chara:
  {
    "IncidntNum": 1,
    "Incident Code": 1,
    "Date": 1,
    "Time": 1,
    "is_x_greater_than_y": {
      "$gt": ["$X", "$Y"]
    },
    "is_code_in_range": {
      "$and": [
        { "$gte": ["$Incident Code", 20000] },
        { "$lte": ["$Incident Code", 30000] }
      ]
    },
    "is_on_street": {
      "$regexMatch": {
        "input": "$Location", "regex": ".*STREET.*",
        "options": "i"
      }
    }
  }"""

#3.3 seconds in compass query projection

,_id,IncidntNum,Incident Code,Date,Time,is_x_greater_than_y,is_code_in_range,is_on_street
0,65b745b7cf903dd4f81cf5ca,41334220,3074,11/22/2004,17:50,False,False,False
1,65b745b7cf903dd4f81cf5cb,51185358,7021,10/18/2005,20:00,False,False,False
2,65b745b7cf903dd4f81cf5cc,40188309,7021,02/15/2004,02:00,False,False,False
3,65b745b7cf903dd4f81cf5cd,110145431,26030,02/18/2011,05:27,False,True,False
4,65b745b7cf903dd4f81cf5ce,101081080,4134,11/21/2010,17:00,False,False,False
...,...,...,...,...,...,...,...,...
2129520,65b7465bcf903dd4f83d743a,170507304,16710,06/22/2017,01:42,False,False,False
2129521,65b7465bcf903dd4f83d743b,170714355,4014,09/01/2017,17:00,False,False,False
2129522,65b7465bcf903dd4f83d743c,170533484,65010,06/30/2017,17:50,False,False,False
2129523,65b7465bcf903dd4f83d743d,171027763,30130,12/20/2017,15:41,False,False,False
2129524,65b7465bcf903dd4f83d743e,170881421,28160,10/27/2017,21:30,False,True,False

Execution Time: 20.85 seconds

'\naggregate chara:\n  {\n    "IncidntNum": 1,\n    "Incident Code": 1,\n    "Date": 1,\n    "Time": 1,\n    "is_x_greater_than_y": {\n      "$gt": ["$X", "$Y"]\n    },\n    "is_code_in_range": {\n      "$and": [\n        { "$gte": ["$Incident Code", 20000] },\n        { "$lte": ["$Incident Code", 30000] }\n      ]\n    },\n    "is_on_street": {\n      "$regexMatch": {\n        "input": "$Location", "regex": ".*STREET.*",\n        "options": "i"\n      }\n    }\n  }'

<h3> Analyze incidents by neighborhood vulnerability and whether they occurred on a weekend </h3>

In [13]:
# Record the start time
start_time = time.time()

# Aggregation pipeline to calculate the average number of cases per year
pipeline = [
  {
    "$match": {
      "Areas of Vulnerability, 2016 2 2": { "$ne": None }
    }
  },
  {
    "$addFields": {
      "is_weekend": {
        "$in": ["$DayOfWeek", ["Saturday", "Sunday"]]
      },
      "Descript_category_match": {
        "$cond": {
          "if": { "$eq": ["$Descript", "$Category"] },
          "then": "Descript matches category",
          "else": "Descript does not match category"
        }
      }
    }
  },
  {
    "$project": {
      "IncidntNum": 1,
      "Areas of Vulnerability, 2016 2 2": 1,
      "is_weekend": 1,
      "Date": 1,
      "Resolution": 1,
      "Category": 1,
      "Descript": 1,
      "Descript_category_match": 1
    }
  }
]


# Run the aggregation query
data = db.crime.sf.aggregate(pipeline)

# Collect the results into a list of dictionaries
results = list(data)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Create a DataFrame from the results
df = pd.DataFrame(results)

# Print the DataFrame as a table
display(df)  # Use print(df) if not in a Jupyter notebook

# Print execution time
print(f"Execution Time: {execution_time:.2f} seconds")
#3.5 seconds

,_id,IncidntNum,Category,Descript,Date,Resolution,"Areas of Vulnerability, 2016 2 2",is_weekend,Descript_category_match
0,65b745b7cf903dd4f81cf5cd,110145431,ARSON,ARSON,02/18/2011,NONE,1,False,Descript matches category
1,65b745b7cf903dd4f81cf5ce,101081080,ASSAULT,BATTERY,11/21/2010,NONE,2,True,Descript does not match category
2,65b745b7cf903dd4f81cf5cf,130270698,ASSAULT,BATTERY,04/02/2013,NONE,1,False,Descript does not match category
3,65b745b7cf903dd4f81cf5d0,170639913,ASSAULT,BATTERY,08/06/2017,NONE,2,True,Descript does not match category
4,65b745b7cf903dd4f81cf5d4,90988438,BURGLARY,"BURGLARY OF RESIDENCE, FORCIBLE ENTRY",09/24/2009,NONE,2,False,Descript does not match category
...,...,...,...,...,...,...,...,...,...
2128495,65b7465bcf903dd4f83d743a,170507304,DRUG/NARCOTIC,POSSESSION OF NARCOTICS PARAPHERNALIA,06/22/2017,"ARREST, CITED",1,False,Descript does not match category
2128496,65b7465bcf903dd4f83d743b,170714355,ASSAULT,AGGRAVATED ASSAULT WITH BODILY FORCE,09/01/2017,NONE,1,False,Descript does not match category
2128497,65b7465bcf903dd4f83d743c,170533484,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,06/30/2017,"ARREST, BOOKED",1,False,Descript does not match category
2128498,65b7465bcf903dd4f83d743d,171027763,OTHER OFFENSES,PEDDLING WITHOUT A LICENSE,12/20/2017,"ARREST, BOOKED",2,False,Descript does not match category
2128499,65b7465bcf903dd4f83d743e,170881421,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",10/27/2017,NONE,2,False,Descript does not match category

Execution Time: 29.50 seconds

<h3> Query 1.1.6 Determine if the latitude and longitude indicate the incident happened in the northern or southern part of the city </h3>

In [53]:
# Record the start time
start_time = time.time()

# Aggregation pipeline to calculate the average number of cases per year
pipeline = [
    {
        "$addFields": {
            "city_region": {
                "$cond": {
                    "if": {"$gt": ["$Y", 37.7749]},
                    "then": "Northern",
                    "else": "Southern"
                }
            }
        }
    },
    {
        "$project": {
            "IncidntNum": 1,
            "Address": 1,
            "X": 1,
            "Y": 1,
            "PdDistrict": 1,
            "Resolution": 1,
            "city_region": 1,
            "Date": 1
        }
    }
]


# Run the aggregation query
data = db.crime.sf.aggregate(pipeline)

# Collect the results into a list of dictionaries
results = list(data)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Create a DataFrame from the results
df = pd.DataFrame(results)

# Print the DataFrame as a table
display(df)  # Use print(df) if not in a Jupyter notebook

# Print execution time
print(f"Execution Time: {execution_time:.2f} seconds")
#1.5 seconds


#{"IncidntNum": 1, "Address": 1, "X": 1, "Y": 1, "PdDistrict": 1, "Resolution": 1, "city_region": {"$cond": {"if": {"$gt": ["$Y", 37.7749]}, "then": "Northern", "else": "Southern"}}, "Date": 1}
#2.1 seconds in compass query projection

,_id,IncidntNum,Date,PdDistrict,Resolution,Address,X,Y,city_region
0,65b745b7cf903dd4f81cf5ca,41334220,11/22/2004,INGLESIDE,NONE,GENEVA AV / SANTOS ST,-122.420084,37.708311,Southern
1,65b745b7cf903dd4f81cf5cb,51185358,10/18/2005,PARK,NONE,TURK ST / STJOSEPHS AV,-120.500000,90.000000,Northern
2,65b745b7cf903dd4f81cf5cc,40188309,02/15/2004,SOUTHERN,NONE,BRANNAN ST / 1ST ST,-120.500000,90.000000,Northern
3,65b745b7cf903dd4f81cf5cd,110145431,02/18/2011,INGLESIDE,NONE,0 Block of SANJUAN AV,-122.436220,37.724377,Southern
4,65b745b7cf903dd4f81cf5ce,101081080,11/21/2010,SOUTHERN,NONE,400 Block of 10TH ST,-122.410541,37.770913,Southern
...,...,...,...,...,...,...,...,...,...
2129520,65b7465bcf903dd4f83d743a,170507304,06/22/2017,CENTRAL,"ARREST, CITED",BROADWAY ST / DAVIS ST,-122.398699,37.798880,Northern
2129521,65b7465bcf903dd4f83d743b,170714355,09/01/2017,PARK,NONE,HAIGHT ST / BUENAVISTAWEST AV,-122.443312,37.770470,Southern
2129522,65b7465bcf903dd4f83d743c,170533484,06/30/2017,BAYVIEW,"ARREST, BOOKED",ILLINOIS ST / 23RD ST,-122.387068,37.755446,Southern
2129523,65b7465bcf903dd4f83d743d,171027763,12/20/2017,SOUTHERN,"ARREST, BOOKED",7TH ST / MARKET ST,-122.412515,37.780478,Northern
2129524,65b7465bcf903dd4f83d743e,170881421,10/27/2017,INGLESIDE,NONE,100 Block of MONETA WY,-122.451217,37.712061,Southern

Execution Time: 24.46 seconds

<h1><b> dorkari </b></h1>

<h1><b> Aggregte </b></h1>

<h1><b> Function </b></h1>

<h1> Query 1.2.3 SUM </h1>

In [89]:
# Record the start time
start_time = time.time()

# Aggregation pipeline to calculate the average number of cases per year
pipeline = [
  {
    "$group": {
      "_id": "$PdDistrict",
      "TotalValue": {
        "$sum": "$Incident Code"
      }
    }
  }
]



# Run the aggregation query
data = db.crime.sf.aggregate(pipeline)

# Collect the results into a list of dictionaries
results = list(data)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Create a DataFrame from the results
df = pd.DataFrame(results)

# Print the DataFrame as a table
display(df)  # Use print(df) if not in a Jupyter notebook

# Print execution time
print(f"Execution Time: {execution_time:.2f} seconds")

           _id   TotalValue
0      MISSION   8340119416
1         PARK   3506575239
2   TENDERLOIN   5340084019
3      BAYVIEW   6135554701
4     RICHMOND   3077876153
5     SOUTHERN  10723817820
6      CENTRAL   5533196733
7      TARAVAL   4355074160
8     NORTHERN   6455209748
9    INGLESIDE   5164248431
10          NA         6244

Execution Time: 1.15 seconds

<h1> Query 1.2.4 MIN </h1>

In [92]:
# Record the start time
start_time = time.time()

# Aggregation pipeline to calculate the average number of cases per year
pipeline = [
  {
    "$group": {
      "_id": "$Category",
      "EarliestDate": {
        "$min": "$Date"
      }
    }
  }
]




# Run the aggregation query
data = db.crime.sf.aggregate(pipeline)

# Collect the results into a list of dictionaries
results = list(data)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Create a DataFrame from the results
df = pd.DataFrame(results)

# Print the DataFrame as a table
display(df)  # Use print(df) if not in a Jupyter notebook

# Print execution time
print(f"Execution Time: {execution_time:.2f} seconds")

                            _id EarliestDate
0                          TREA   02/03/2015
1                         ARSON   01/01/2003
2                SUSPICIOUS OCC   01/01/2003
3                  PROSTITUTION   01/01/2003
4                      WARRANTS   01/01/2003
5        SEX OFFENSES, FORCIBLE   01/01/2003
6                   DRUNKENNESS   01/01/2003
7                OTHER OFFENSES   01/01/2003
8                  NON-CRIMINAL   01/01/2003
9               SECONDARY CODES   01/01/2003
10                        FRAUD   01/01/2003
11                    EXTORTION   01/01/2003
12               MISSING PERSON   01/01/2003
13                 EMBEZZLEMENT   01/01/2003
14       FORGERY/COUNTERFEITING   01/01/2003
15                DRUG/NARCOTIC   01/01/2003
16                   BAD CHECKS   01/01/2003
17                    LOITERING   01/01/2003
18                     TRESPASS   01/01/2003
19                   KIDNAPPING   01/01/2003
20   SEX OFFENSES, NON FORCIBLE   01/01/2005
21              STOLEN PROPERTY   01/01/2003
22  DRIVING UNDER THE INFLUENCE   01/01/2003
23            RECOVERED VEHICLE   01/01/2006
24                      ROBBERY   01/01/2003
25                      BRIBERY   01/01/2010
26                  WEAPON LAWS   01/01/2003
27                VEHICLE THEFT   01/01/2003
28                     BURGLARY   01/01/2003
29                  LIQUOR LAWS   01/01/2004
30                      SUICIDE   01/01/2004
31                    VANDALISM   01/01/2003
32                      ASSAULT   01/01/2003
33      PORNOGRAPHY/OBSCENE MAT   01/11/2016
34                LARCENY/THEFT   01/01/2003
35           DISORDERLY CONDUCT   01/01/2003
36                     GAMBLING   01/01/2004

Execution Time: 1.15 seconds

<h1> Query 1.2.5 MAX </h1>

In [97]:
# Record the start time
start_time = time.time()

# Aggregation pipeline to calculate the average number of cases per year
pipeline = [
  {
    "$group": {
      "_id": "$Descript",
      "LatestDate": {
        "$max": "$Date"
      }
    }
  }
]


# Run the aggregation query
data = db.crime.sf.aggregate(pipeline)

# Collect the results into a list of dictionaries
results = list(data)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Create a DataFrame from the results
df = pd.DataFrame(results)

# Print the DataFrame as a table
display(df)  # Use print(df) if not in a Jupyter notebook

# Print execution time
print(f"Execution Time: {execution_time:.2f} seconds")

                                                   _id  LatestDate
0                           MISCELLANEOUS STATE FELONY  12/30/2009
1            LOITERING WHILE CARRYING CONCEALED WEAPON  12/31/2012
2                                     SCALPING TICKETS  10/28/2010
3                               SEARCH WARRANT SERVICE  12/31/2015
4                              GRAND THEFT OF PROPERTY  12/31/2017
..                                                 ...         ...
842  VANDALISM OR GRAFFITI ON OR WITHIN 100 FT OF H...  12/23/2013
843                             VIOLATION OF PARK CODE  12/30/2008
844             ATTEMPTED ROBBERY RESIDENCE WITH A GUN  12/30/2003
845                       GRAND THEFT FROM LOCKED AUTO  12/31/2017
846                                     WARRANT ARREST  12/31/2017

[847 rows x 2 columns]

Execution Time: 1.07 seconds

<h1> Query 1.2.6 AVG </h1>

In [102]:
# Record the start time
start_time = time.time()

# Aggregation pipeline to calculate the average number of cases per year
pipeline = [
  {
    "$group": {
      "_id": "$PdDistrict",
      "AvgLatitude": {
        "$avg": "$Y"
      }
    }
  }
]
# Run the aggregation query
data = db.crime.sf.aggregate(pipeline)

# Collect the results into a list of dictionaries
results = list(data)

# Record the end time
end_time = time.time()
execution_time = end_time - start_time

# Create a DataFrame from the results
df = pd.DataFrame(results)

# Print the DataFrame as a table
display(df)  # Use print(df) if not in a Jupyter notebook

# Print execution time
print(f"Execution Time: {execution_time:.2f} seconds")

           _id  AvgLatitude
0     SOUTHERN    37.782892
1      BAYVIEW    37.741310
2      CENTRAL    37.797868
3   TENDERLOIN    37.793247
4         PARK    37.771971
5     RICHMOND    37.786970
6      MISSION    37.760438
7           NA    37.708202
8    INGLESIDE    37.728548
9      TARAVAL    37.740176
10    NORTHERN    37.792372

Execution Time: 1.35 seconds